page-credit-card {
    #firstCard {
        width: 100%;
    }
    #titleTop {
        font-size: 15px;
        font-weight: bold;
    }
    #totalPriceLbl {
        font-size: 15px;
        font-weight: bold;
    }
    #totalprice {
        font-size: 15px;
        font-weight: bold;
        color: red;
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 1px lightgray solid;
    }
    [col-12],
    [col-6] {
        padding: 5px;
        padding-bottom: 15px;
    }
    #contBtn {
        height: 40px;
    }
}