page-login {
    #backBtn {
        margin-left: 0;
        margin-top: 0;
    }
    #logoDiv {
        width: 70%;
        text-align: center;
        // margin-left: 12%;
        padding-top: 10%;
        align-items: center;
        // position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        // transform: translateY(-50%);
    }
    #gridBody {
        padding-top: 16%;
        width: 95%;
        margin-left: 2.5%;
    }
    span {
        color: white;
    }
    a {
        color: red;
    }
    #loginBtn {
        margin-top: 10%;
    }
    .row {
        padding: 0;
        margin: 0;
    }
    ion-icon {
        padding-left: 10px;
        padding-right: 10px;
    }
    #logoImg {
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }
}