<ion-content style="background-image: url('./assets/images/splash.png');background-size: cover">
    <button ion-button icon-only clear (click)="backToHome()" id="backBtn">
        <ion-icon *ngIf="getCurrentLAnguage() == 'en'" name="md-arrow-back"></ion-icon>
        <ion-icon *ngIf="getCurrentLAnguage() == 'ar'" name="md-arrow-forward"></ion-icon>
    </button>

    <div id="logoDiv" text-center>
        <img class="logoImg" src="././assets/images/logo.PNG" />
    </div>
    <ion-grid id="gridBody">
        <ion-row>
            <ion-col>
                <!-- <button ion-button full icon-start color="primary" (click)="loginWithFacebook()">
                    <ion-icon name="logo-facebook"></ion-icon> {{"LOGINWITHFACEBOOK" | translate}}
                </button> -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button full icon-start color="danger" (click)="loginWithGoogle()">
                    <ion-icon name="logo-googleplus"></ion-icon>
                    {{"LOGINWITHGOOGLE" | translate}}
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button (click)="loginWithEmail()" ion-button full color="light" id="loginBtn">
                    <span style="color:black">{{"LOGINWITHEMAIL" | translate }}</span>
                </button>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>
                <span>{{"DONTHAVEACCOUNT" | translate}}</span>
                <a (click)="openRegisterPage()">{{"REGISTER" | translate}}</a>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>