page-register {
    .col {
        padding: 0;
    }
    #agreeSpan {
        font-size: 13px;
        padding-left: 5%;
        span {
            color: red;
        }
    }
    #createSpan {
        font-size: 13px;
        font-weight: bold;
    }
    button {
        height: 800px;
    }
    a {
        color: black;
        font-weight: bold;
    }
    ios.item-label-floating .text-input {
        margin-left: 0;
        margin-top: 6px;
        margin-bottom: 0px;
        width: calc(100% - 8px);
    }
    img {
        display: inline-block;
        vertical-align: middle;
        // margin-top: 50%;
        height: 100%;
        width: 100%;
        margin: 0% 0px 0px 0px;
        // height: 8%;
        // width: 8%;
    }
    #imgItem {
        width: 6%;
        vertical-align: middle;
        padding: 0;
    }
    #inputItem {
        margin-left: 0;
        padding-left: 0;
        padding: 0;
        width: 94%;
        vertical-align: middle;
    }
    //To no margin between ion-item
    .list-md[no-lines] .item-block,
    .list-md[no-lines] ion-item-options,
    .list-md[no-lines] .item .item-inner {
        border-width: 0px;
        padding: 0;
        margin: 0;
    }
    .list-ios[no-lines] ion-list-header,
    .list-ios[no-lines] ion-item-options,
    .list-ios[no-lines] .item,
    .list-ios[no-lines] .item .item-inner {
        border-width: 0;
        padding: 0;
        margin: 0;
    }
    //align image with the input horizontally
    .item-md [item-left],
    .item-md [item-right],
    .item-md [item-start],
    .item-md [item-end] {
        margin: 100% 0px 0px 0;
        padding-top: 70%;
    }
    .item-ios [item-left],
    .item-ios [item-start] {
        margin: 100% 0px 0px 0;
        padding-top: 70%;
    }
    .list-md[no-lines] .item-block,
    .list-md[no-lines] ion-item-options,
    .list-md[no-lines] .item .item-inner {
        border-width: 0px;
        padding: 0;
        // margin: 0;
    }
    //change ios floating color
    .item-label-stacked .input-wrapper,
    .item-label-floating .input-wrapper {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        color: gray;
        font-size: 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}