<ion-header>


    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"REGISTER" | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding text-center>

    <ion-list no-lines text-center>
            <form #signupForm="ngForm">
        <ion-row>
            <ion-col>
                <ion-item no-lines no-padding>
                    <ion-item item-start id="imgItem">
                        <img item-start src="././assets/icons/name.svg" />
                    </ion-item>
                    <ion-item item-end id="inputItem" no-lines>
                        <ion-label floating>{{"FIRSTNAME" | translate}}</ion-label>
                        <ion-input type="text"  [(ngModel)]="userData.firstName" name="firstname" required ></ion-input>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item no-lines no-padding>
                    <ion-item item-start id="imgItem">
                        <img item-start src="././assets/icons/name.svg" />
                    </ion-item>
                    <ion-item item-end id="inputItem" no-lines>
                        <ion-label floating>{{"LASTNAME" | translate}}</ion-label>
                        <ion-input type="text"    [(ngModel)]="userData.lastName" name="lastname" required ></ion-input>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item no-lines no-padding>
                    <ion-item item-start id="imgItem">
                        <img item-start src="././assets/icons/phone.svg" />
                    </ion-item>
                    <ion-item item-end id="inputItem" no-lines>
                        <ion-label floating>{{"PHONENUMBER" | translate}}</ion-label>
                        <ion-input type="text"  [(ngModel)]="userData.mobile" name="mobile" required ></ion-input>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item no-lines no-padding>
                    <ion-item item-start id="imgItem">
                        <img item-start src="././assets/icons/email.svg" />
                    </ion-item>
                    <ion-item item-end id="inputItem" no-lines>
                        <ion-label floating>{{"EMAIL" | translate}}</ion-label>
                        <ion-input type="email" [(ngModel)]="userData.email" name="email" required ></ion-input>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item no-lines no-padding>
                    <ion-item item-start id="imgItem" no-padding>
                        <img item-start src="././assets/icons/password.svg" />
                    </ion-item>
                    <ion-item item-end id="inputItem" no-lines no-padding>
                        <ion-label floating>{{"PASSWORD" | translate}}</ion-label>
                        <ion-input type="password" [(ngModel)]="userData.password" name="password" required ></ion-input>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item no-padding>
                    <input type="checkbox" [(ngModel)]="isAcceptingAgreemnent"  name="isaccept" required />
                    <span id="agreeSpan">{{"AGREEWITH" | translate}} <span>{{"TERMSCONDITIONS" | translate}}</span></span>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <button ion-button full (click)="register()" [disabled]="!signupForm.form.valid"  color="light"><span id="createSpan">{{"CREATEACCOUNT" | translate }}</span></button>
            </ion-col>
        </ion-row>
    </form>
        <br/>
        <ion-row text-center>
            <ion-col>
                <span>{{"HAVEACCOUNT" | translate}}</span> <a (click)="login()">{{"LOGIN" | translate}}</a>
            </ion-col>
        </ion-row>

    </ion-list>

</ion-content>