page-more-popver {
    .popover {
        height: auto !important;
    }
    .popover ion-header-bar {
        position: relative;
    }
    .popover ion-content {
        top: 0;
        position: relative;
    }
    $popover-ios-width:100px;
    $popover-ios-max-height:50%;
}