<ion-content no-padding no-margin style="margin-left:-10px;">
    <ion-list no-lines no-padding no-margin>
        <button ion-item *ngFor="let popvar of popvarArr" (click)="openPage(popvar)">{{popvar}}</button>
    </ion-list>
</ion-content>