<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>{{"WISHLIST" | translate}}</ion-title>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <cart-icon no-padding no-margin></cart-icon>
        </ion-buttons>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>
    </ion-navbar>
    <!-- <header inputPageName="Wishlist"></header> -->

</ion-header>


<ion-content *ngIf="wishlidtArr && wishlidtArr.length">

    <ion-row >
        <ion-col>
            <br/><br/><br/>

            <ion-card  *ngFor="let wishlist of wishlidtArr"  (click)="gotoproduct(wishlist.product.id)"  >
                <ion-item text-center no-padding>
                    <img item-start [src]="wishlist.product.image" style="width:60px;height:60px;padding-left:3%;" />
                    <span text-wrap text-center id="productName" style="padding-left:9%;">{{wishlist.product.name}}</span><br/>

                    <span id="oldPrice" *ngIf="wishlist.product.newp_rice != null">{{wishlist.product.old_price}}</span>
                    <span id="newPrice" *ngIf="wishlist.product.newp_rice == null">{{wishlist.product.old_price}}</span> <br/>
                    <span id="newPrice" *ngIf="wishlist.product.newp_rice != null">{{wishlist.product.newp_rice}}</span>


                    <rating no-padding [(ngModel)]="wishlist.product.total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                </ion-item>
                <ion-item>
                    <button item-end ion-button id="addToCart" (click)="addToCart($event,wishlist.product.id)" color="greenCol">
                        Add To Cart
                    </button><br/>

                    <button item-end ion-button id="bottomIcon" (click)=removeWishlist($event,wishlist.Wishlist_id) clear icon-only>
                        <ion-icon name="md-trash"></ion-icon>
                    </button><br/>

                    
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>


</ion-content>


<ion-content padding class="error-message" *ngIf="!wishlidtArr.length">
    <ion-row>
        <ion-col>
            <ion-row justify-content-center>
                <!-- <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon> -->
                <ion-icon ios="ios-star-outline" md="md-cart"  style="font-size:3.8em !important;margin-top:100px;" class="larger-icon" ></ion-icon>
            </ion-row>
            <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                {{emptyMsg}}
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
