page-wishlist #productName {
  font-size: 13px;
  font-weight: bold;
}

page-wishlist #oldPrice {
  text-decoration: line-through;
  font-size: 10px;
  color: gray;
}

page-wishlist #newPrice {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

page-wishlist #ratingBar {
  padding-left: 28%;
  left: 0;
}

page-wishlist #bottomIcon {
  width: 25px;
  height: 25px;
  color: lightgray;
  background-color: #F0F0F0;
  border: 2px solid #F0F0F0;
}

page-wishlist #addToCart {
  width: 85px;
  height: 25px;
}

page-wishlist .row {
  padding: 0;
  margin: 0;
}

page-wishlist .col {
  padding: 0;
  margin: 0;
}

page-wishlist .card-md {
  margin: 5px 10px 5px 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

page-wishlist .card-ios {
  margin: 5px 10px 5px 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
