page-wishlist {
    #productName {
        font-size: 13px;
        font-weight: bold;
    }
    #oldPrice {
        text-decoration: line-through;
        font-size: 10px;
        color: gray;
    }
    #newPrice {
        font-size: 12px;
        color: red;
        font-weight: bold;
    }
    ul {
        padding: 0px;
        margin: 0;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: gold;
        }
    }
    #bottomIcon {
        width: 25px;
        height: 25px;
        color: lightgray;
        background-color: #F0F0F0;
        border: 2px solid #F0F0F0;
    }
    #addToCart {
        width: 85px;
        height: 25px;
        // margin-left: 9%;
    }
    .row {
        padding: 0;
        margin: 0;
    }
    .col {
        padding: 0;
        margin: 0;
    }
    .card-md {
        margin: 5px 10px 5px 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-ios {
        margin: 5px 10px 5px 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
}