    page-add-review-popover {
        span {
            font-size: 11px;
            color: gray;
        }
        ul {
            padding: 0px;
            margin: 0;
            &.rating li {
                padding: 0px 0px !important;
                background: none;
                color: gold;
            }
        }
        .popover-viewport {
            border-radius: 10px;
            width: 100%;
            position: unset;
            min-width: 0;
            min-height: 90%;
            max-height: 90%;
            color: #000;
            background: #fff;
            -ms-touch-action: none;
            touch-action: none;
        }
        .popover-ios .popover-content {
            border-radius: 10px;
            width: 100%;
            min-width: 0;
            min-height: 0;
            max-height: 90%;
            color: #000;
            background: #fff;
            -ms-touch-action: none;
            touch-action: none;
        }
        .popover-md .popover-content {
            border-radius: 10px;
            width: 100%;
            min-width: 0;
            min-height: 0;
            max-height: 90%;
            color: #000;
            background: #fff;
            -ms-touch-action: none;
            touch-action: none;
        }
        .input-cover {
            border-bottom: 1px lightgray solid;
            margin-left: 5%;
            left: 0;
            top: 0;
            bottom: 0;
            top: 0;
            position: absolute;
            width: 80%;
            text-align: center;
            height: 100%;
            -ms-touch-action: none;
            touch-action: none;
        }
    }