<form #addreviewform="ngForm">

    <ion-content padding>
        <h5>{{"ADDAREVIEW" | translate}}</h5>

        <ion-input type="hidden" [(ngModel)]="addReviewModel.productId" name="productId"></ion-input>

        <ion-item text-center no-lines>
            <rating no-padding [(ngModel)]="addReviewModel.rating" name="rating" readOnly="false" max="5" emptyStarIconName="star-outline"
                halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
            <span>{{"TAPASTAR" | translate}}</span>
        </ion-item>
        <ion-item style="padding-bottom:5%;" no-lines>
            <ion-label floating>{{"YOURFEEDBACK" | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="addReviewModel.review" name="review" id="input" required></ion-input>
        </ion-item>
        <ion-item no-lines></ion-item>
    </ion-content>

    <ion-footer style="padding-top:5%;" mode="md">
        <ion-list>
            <ion-row>
                <ion-col col-6 text-center (click)="close()"> {{"CANCEL" | translate }}</ion-col>
                <ion-col col-6 text-center (click)="addReview()"> {{"SUBMIT" | translate }}</ion-col>

            </ion-row>
        </ion-list>
    </ion-footer>
</form>