<ion-header>

    <ion-navbar color="dark">

        <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Cash Delivery</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-card no-padding no-margin id="firstCard" text-center>
        <ion-item no-lines>
            <span id="titleTop">Canon PowerShot SX60 HSExplore</span><br/>
            <ion-list>
                <ion-row>
                    <ion-col col-3><span>{{"MODE" | translate}} </span></ion-col>
                    <ion-col col-9>
                        <p>Canon PowerShot SX60 HSExplore</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3><span>{{"QUANTITY" | translate}} </span></ion-col>
                    <ion-col col-9>
                        <p>1</p>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-item>

        <ion-item>
            <div item-left>
                <h2 item-left id="totalPriceLbl">{{"SUBTOTAL" | translate}} </h2>
                <h2 item-left id="totalPriceLbl">Flat Shipping Rate: </h2>
                <h2 item-left id="totalPriceLbl">{{"TOTAL" | translate}} </h2>
                <p></p>
            </div>
            <div item-right>
                <h2 id="totalPriceLbl">162.000KD </h2>
                <h2 id="totalPriceLbl">1.000KD </h2>
                <h2 id="totalprice">162.000KD </h2>
            </div>
        </ion-item>
        <ion-item>
            <button ion-button full color="greenCol" id="contBtn" (click)="confirmOrder()">{{"CONFIRMORDER" | translate}}</button>
        </ion-item>
    </ion-card>

</ion-content>