page-cash-delivery {
    #firstCard {
        width: 100%;
    }
    #titleTop {
        font-size: 15px;
        font-weight: bold;
    }
    #totalPriceLbl {
        font-size: 15px;
        font-weight: bold;
    }
    #totalprice {
        font-size: 15px;
        font-weight: bold;
        color: red;
    }
    #contBtn {
        height: 40px;
    }
}