page-cart {
    #body {
        background-color: #F0F0F0;
    }
    #productName {
        font-size: 13px;
        font-weight: bold;
    }
    #producrDesc {
        font-size: 12px;
    }
    #addBtn {
        height: 25px;
        width: 25px;
        border: 2px solid #F0F0F0;
        background-color: #F0F0F0;
        border-radius: 50%;
    }
    #numBtn {
        height: 25px;
        width: 45px;
        color: black;
        border: 2px solid #F0F0F0;
        background-color: white;
        border-radius: 40%;
    }
    #productCost {
        font-size: 13px;
        font-weight: bold;
        color: red;
    }
    #bottomIcon {
        width: 25px;
        height: 25px;
        color: lightgray;
        background-color: #F0F0F0;
        border: 2px solid #F0F0F0;
    }
    #totalPriceLbl {
        font-size: 15px;
        font-weight: bold;
    }
    #totalprice {
        font-size: 15px;
        font-weight: bold;
        color: red;
    }
    #contBtn {
        height: 40px;
    }
}