<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Shopping Cart</ion-title>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content id="body">

    <div *ngIf="productArr.length > 0">
    <ion-card *ngFor="let item of productArr">
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <div style="width:100%;height:100%;">
                        <img item-start [src]="item.product.image" style="width:60px;height:60px;" />
                    </div>
                </ion-col>
                <ion-col col-8 col-4>
                    <div>
                        <ion-item no-padding>
                            <span id="productName">{{item.product.name}}</span>
                            <p id="producrDesc">Model: {{item.product.model}}</p>
                        </ion-item>
                        <ion-item no-padding>
                            <span id="productName">{{"QUANTITY" | translate}} </span>

                            <button *ngIf="item.quantity == 1" ion-button disabled text-center id="addBtn"
                             clear icon-only color="secondary" >
                                <ion-icon name="remove"></ion-icon>
                            </button>

                            <button *ngIf="item.quantity > 1" ion-button text-center id="addBtn" clear icon-only color="secondary" 
                                (click)=decreaseQuantity(item.cart_id,item.quantity)>
                                <ion-icon name="remove"></ion-icon>
                            </button>

                            <button ion-button id="numBtn" clear>
                                {{ item.quantity }}
                            </button>

                            <button ion-button id="addBtn" clear icon-only color="secondary" 
                            (click)="increaseQuantity(item.cart_id,item.quantity)">
                                <ion-icon name="add"></ion-icon>
                            </button><br/>

                            <span id="productName">{{"COST" | translate}} </span><span text-center id="productCost">{{item.price}}</span>
                        </ion-item>
                        <ion-item item-end>
                            <button item-end ion-button id="bottomIcon" *ngIf="!item.product.in_wishlist" clear icon-only 
                             (click)="toggleWishList(item.product)">
                                <ion-icon name="ios-heart"></ion-icon>
                            </button><br/>

                            <button item-end ion-button id="bottomIcon" *ngIf="item.product.in_wishlist" clear icon-only 
                             (click)="toggleWishList(item.product)">
                                    <ion-icon name="ios-heart" color="danger" ></ion-icon>
                                </button><br/>

                               

                            <button item-end ion-button id="bottomIcon" clear icon-only  (click)="removefromcart(item.cart_id)" >
                                <ion-icon name="md-trash"></ion-icon>
                            </button><br/>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</div>

    <div padding class="error-message" *ngIf="!productArr.length">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <!-- <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon> -->
                    <ion-icon ios="ios-cart-outline" md="md-cart"  style="font-size:3.8em !important;margin-top:100px;" class="larger-icon" ></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                    {{emptyMsg}}
                </ion-row>
            </ion-col>
        </ion-row>
    </div>


   

</ion-content>

<ion-footer no-padding no-margin>
    <ion-card style="width:100%;" no-padding no-margin>
        <ion-item>
            <div item-left>
                <h2 item-left id="totalPriceLbl">{{"TOTAL" | translate}} </h2>
                <p style="color:white;">total</p>
            </div>
            <div item-right>
                <h2 id="totalprice">{{gettotalprice()}} kwd </h2>
                <p text-center>{{productArr.length}} product</p>
            </div>
        </ion-item>
        <!-- <ion-item>
            <h2 item-left id="totalPriceLbl">TOTAL: </h2>
            <div item-right>
                <h2 id="totalprice">162.000KD </h2>
                <p text-center>1 product</p>
            </div>
        </ion-item> -->
        <ion-item>
            <button ion-button full id="contBtn" color="greenCol" (click)="checkOut()">{{"CHECKOUT" | translate }}</button>
        </ion-item>
    </ion-card>
</ion-footer>