page-send-message {
    #body {
        background-color: #F0F0F0;
    }
    #titleTop {
        font-size: 15px;
        font-weight: bold;
    }
    ion-input {
        margin-top: 3%;
        width: 100%;
        height: 40px;
        border: 1px white solid;
        background-color: white;
        // border-radius: 5%;
    }
    #input {
        border-bottom: 1px gray solid;
    }
    #bottobP {
        font-size: 14px;
    }
    .floatingLbl {
        // width: 80%;
        margin-left: 3%;
    }
    .input-cover {
        border-bottom: 1px white solid;
        margin-left: 5%;
        left: 0;
        top: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        width: 80%;
        text-align: center;
        height: 100%;
        -ms-touch-action: none;
        touch-action: none;
    }
    #input {
        border-bottom: 1px white solid;
    }
    .input-cover {
        border-bottom: 1px white solid;
        margin-left: 5%;
        left: 0;
        top: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        width: 80%;
        text-align: center;
        height: 100%;
        -ms-touch-action: none;
        touch-action: none;
    }
    .item-ios.item-label-stacked .text-input,
    .item-ios.item-label-floating .text-input {
        margin-left: 0;
        margin-top: 8px;
        margin-bottom: 0px;
        width: 87%;
        color:#333;
        //border-bottom: 1px lightgray solid;
    }
    .item-label-stacked .input-wrapper,
    .item-label-floating .input-wrapper {
        color: gray;
    }
    .item-ios.item-label-stacked .text-input{
        border-bottom-color: transparent;
    }
    .item-ios.item-label-floating .text-input{
        border-bottom-color: transparent;
    }
    .label-ios[stacked]{
        font-size:1.5rem;

    }
    .label-md[stacked]{
        font-size:1.5rem;
    }
    .text-input-md{
        color:#333;
    }
}