page-send-message #body {
  background-color: #F0F0F0;
}

page-send-message #titleTop {
  font-size: 15px;
  font-weight: bold;
}

page-send-message ion-input {
  margin-top: 3%;
  width: 100%;
  height: 40px;
  border: 1px white solid;
  background-color: white;
}

page-send-message #input {
  border-bottom: 1px gray solid;
}

page-send-message #bottobP {
  font-size: 14px;
}

page-send-message .floatingLbl {
  margin-left: 3%;
}

page-send-message .input-cover {
  border-bottom: 1px white solid;
  margin-left: 5%;
  left: 0;
  top: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  width: 80%;
  text-align: center;
  height: 100%;
  -ms-touch-action: none;
  touch-action: none;
}

page-send-message #input {
  border-bottom: 1px white solid;
}

page-send-message .input-cover {
  border-bottom: 1px white solid;
  margin-left: 5%;
  left: 0;
  top: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  width: 80%;
  text-align: center;
  height: 100%;
  -ms-touch-action: none;
  touch-action: none;
}

page-send-message .item-ios.item-label-stacked .text-input,
page-send-message .item-ios.item-label-floating .text-input {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 0px;
  width: 87%;
  color: lightgray;
  border-bottom: 1px lightgray solid;
}

page-send-message .item-label-stacked .input-wrapper,
page-send-message .item-label-floating .input-wrapper {
  color: gray;
}
