<ion-header>

  <ion-navbar color="dark">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> {{ 'SENDMESSAGE' | translate }} </ion-title>

  </ion-navbar>

</ion-header>


<ion-content id="body">

  <ion-item style="background-color:#F0F0F0" no-lines>
    <span id="titleTop">{{ 'GETINTOUGH' | translate }} </span>
    <br/>
  </ion-item>

  <form #sendmsgForm="ngForm">
    <ion-item style="background-color:#F0F0F0" no-lines>
      <ion-label stacked class="floatingLbl">{{ 'NAME' | translate }}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="msgData.name" name="name" required ></ion-input>
    </ion-item>
    <ion-item style="background-color:#F0F0F0" no-lines>
      <ion-label stacked class="floatingLbl">{{ 'EMAIL' | translate }}</ion-label>
      <ion-input type="text" value="" placeholder="" [(ngModel)]="msgData.email" name="email"  required ></ion-input>
    </ion-item>
    
    <ion-item style="background-color:#F0F0F0" no-lines>
      <ion-label stacked class="floatingLbl">{{ 'MESSAGE' | translate }}</ion-label>
      <div item-content style="width:100%;" no-lines>
        <ion-textarea style="background-color:white;height:90px;" lineHeight="92" [(ngModel)]="msgData.message" required name="message" ></ion-textarea>
      </div>
    </ion-item>

    <ion-item style="background-color:#F0F0F0" no-lines>
      <button ion-button icon-right color="danger" style="height: 40px;" full (click)="sendEmail()" [disabled]="!sendmsgForm.form.valid">
        <ion-icon name="ios-paper-plane"></ion-icon>
        <span style="padding-left:5%;">{{ 'SEND' | translate }}</span>
      </button>
    </ion-item>

  </form>
</ion-content>
