<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Edit Account Info</ion-title>

        <ion-buttons end>
            <button ion-button icon-only  (click)="updateprofile()">
            <ion-icon name="md-checkmark"></ion-icon>
          </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content no-padding no-margin id="body">

    <ion-card no-padding no-margin id="firstCard" text-center>
        <div class="container" (click)="uploadImage()">
            <ion-img [src]="userData.image"></ion-img><br/> <br/>
            <button clear id="chgImg"><ion-icon name="camera"></ion-icon> {{"CHANGIMAGE" | translate }}</button><br/>
        </div>

        
        <ion-item>
            <ion-label stacked>{{"USERNAME" | translate }}</ion-label>
            <ion-input type="text"   [(ngModel)]="userData.name" ></ion-input>
        </ion-item>
        <hr/>
        <ion-item>
            <ion-label stacked>{{"EMAIL" | translate}}</ion-label>
            <ion-input type="email"  [(ngModel)]="userData.email" ></ion-input>
        </ion-item>
        <hr/>
        <ion-item>
            <div item-start no-padding no-margin>
                <ion-label stacked>{{"CODE" | translate}}</ion-label>
                <ion-select  interface="popover" >
                    <ion-option value="+695" selected="true">+695</ion-option>
                    <ion-option value="+696" >+696</ion-option>
                    <ion-option value="+697" >+697</ion-option>
                </ion-select>
            </div>
            <div item-end align-left no-padding no-margin>
                <ion-label stacked>{{"MOBILENUMBER" | translate }}</ion-label>
                <ion-input  [(ngModel)]="userData.mobile" ></ion-input>
            </div>
        </ion-item>
    </ion-card>

    <ion-card no-padding no-margin id="card" text-center>
        <ion-item>
            <ion-label stacked>{{"GENDER" | translate}}</ion-label>
            <ion-select [(ngModel)]="userData.gender"   interface="popover">
                <ion-option  value="male" >Meal</ion-option>
                <ion-option value="fmale" >Female</ion-option>
              </ion-select>

        </ion-item>
        
        <!-- <ion-item>
            <ion-label stacked>{{"DATEOFBIRTH" | translate }}</ion-label>
            <ion-input type="text" value="01 -01 -1999"></ion-input>
        </ion-item>-->
        <hr/> 
        <ion-item text-center  (click)="deleteaccount()" >
            <span id="delAccount">{{"DELETEACCOUNT" | translate }}</span>
        </ion-item>
    </ion-card>

</ion-content>