page-edit-account {
    #body {
        background-color: #F0F0F0;
    }
    #firstCard {
        width: 100%;
    }
    #card {
        width: 100%;
        margin-top: 3%;
    }
    .container {
        background-image: url('http://cdn.business2community.com/wp-content/uploads/2014/04/profile-picture.jpg');
        // background-size:initial;
        // background-size: cover;
        margin-top: 7%;
        border-radius: 50%;
        opacity: 0.6;
        width: 70px;
        height: 70px;
        // width: 50%;
        margin: 7% auto 0;
        ion-icon {
            color: white;
            position: relative;
            top: calc(50% - 10px);
            height: 100%;
            width: 100%;
        }
    }
    // ion-img {
    //     text-align: center;
    //     width: 70px;
    //     height: 70px;
    //     border-radius: 50%;
    //     margin-top: 7%;
    // }
    // ion-img img {
    //     -o-object-fit: cover;
    //     object-fit: cover;
    //     border-radius: 50%;
    //     opacity: 0.6;
    // }
    #chgImg {
        font-size: 11px;
        font-weight: 500;
        background: transparent !important;
    }
    ion-input {
        color: gray;
    }
    #delAccount {
        font-weight: 13px;
        color: red;
    }
    .content-ios hr {
        height: 1px;
        background-color: lightgray;
        color: white;
    }
}