<ion-header>
    <ion-navbar color="dark">
        <div id="searchDiv">
            <ion-item>
                <button ion-button item-start icon-only color="dark" menuToggle clear *ngIf="searchInput.length == 0">
                    <ion-icon name="menu"></ion-icon>
                </button>
                <button item-start ion-button clear icon-only color="dark" *ngIf="searchInput.length > 0" (click)="gotoSearchPage()">
                    <ion-icon *ngIf="getCurrentLang() == 'en'" name="md-arrow-round-back"></ion-icon>
                    <ion-icon *ngIf="getCurrentLang() == 'ar'" name="md-arrow-round-forward"></ion-icon>
                </button>
                <input type="text" placeholder="{{ 'SEARCHFOR' | translate }}" [(ngModel)]="searchInput" />
                <button ion-button clear icon-only item-end color="dark" *ngIf="searchInput.length > 0" (click)="clearSearchBar()">
                    <ion-icon name="ios-close-circle"></ion-icon>
                </button>
            </ion-item>
        </div>
        <ion-buttons end mode="md">
            <cart-icon no-padding no-margin></cart-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content id="body">
    <div id="headerSlider">
        <ion-slides autoplay="1000" loop="true" speed="700" pager="true" #mainslides *ngIf="loaded && mainslider.length">
            <ion-slide *ngFor="let item of mainslider">
                <img [src]="item.image" style="height:100%;width:100%;" />
            </ion-slide>
        </ion-slides>
    </div>

    <div id="bottomSliderDiv">
        <ion-slides *ngIf="loaded2 && brandsslider.length "  loop="true" direction="horizontal" slidesPerView="3.2" spaceBetween="27" autoplay="3000" speed="3000" #brandsslides >
            <ion-slide *ngFor="let item of brandsslider" class="bottomSliderContainer">
                <ion-card class="sliderCard">
                    <ion-card-content>
                        <img [src]="item.image" style="height:100%;width:100%;">
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>

    <hr>

    <!------------ Specials Area -------------------->
    <ion-item no-lines class="titleItem">
        <span>{{"SPECIALS" | translate}}</span>
        <span item-end (click)="openSpecialsPage('special')">
            <a>{{"MORE" | translate}}</a>
        </span>
    </ion-item>
    <div *ngIf=" loaded3 && specialArr.length" style="width:100%;background-color:#f7f5fa;display: table;padding:1%;">
        <div style="width:47%;padding-left:1%;padding-right:1%;display: table-cell;">
            <ion-card no-padding text-wrap no-margin style="height:100%;width:100%" (click)="gotoProductPage(specialArr[0].id)">
                <div (click)="addToFavourite($event,specialArr[0])" id="div_{{specialArr[0].id}}">
                    <img *ngIf="specialArr[0].in_wishlist==false" src="././assets/icons/favorite.svg" align="right" class="heartIcon" />
                    <img *ngIf="specialArr[0].in_wishlist==true" src="././assets/icons/favorite_sellected.svg" align="right" class="heartIcon" />
                </div>
                <ion-item text-center>
                    <img [src]="specialArr[0].image" class="cardImg" />
                </ion-item>
                <ion-item style="margin-bottom:15px;">
                    <div style="margin-right:2%;text-align:center">
                        <span id="productName" no-wrap>{{specialArr[0].name}}</span><br/>
                        <span id="oldPrice" *ngIf="specialArr[0].newp_rice != null">{{specialArr[0].old_price}} kwd</span><br/>
                        <span id="newPrice" *ngIf="specialArr[0].newp_rice == null">{{specialArr[0].old_price}} kwd</span>
                        <span id="newPrice" *ngIf="specialArr[0].newp_rice != null">{{specialArr[0].newp_rice}} kwd</span><br/>
                        <rating no-padding no-mrgin [(ngModel)]="specialArr[0].total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                    </div>
                </ion-item>
            </ion-card>
        </div>
        <div style="width:47%;padding-left:1%;padding-right:1%;display: table-cell;position:relative;background-color:#f7f5fa;">
            <div style="width:98%;top:0;position:absolute;height:49%;padding-right:1%;padding-left:1%;">
                <ion-card no-padding no-margin style="height:100%;width:100%" (click)="gotoProductPage(specialArr[1].id)">
                    <div (click)="addToFavourite($event,specialArr[1])" id="div_{{specialArr[1].id}}">
                        <img *ngIf="specialArr[1].in_wishlist==false" src="././assets/icons/favorite.svg" align="right" large class="heartIcon" />
                        <img *ngIf="specialArr[1].in_wishlist==true" src="././assets/icons/favorite_sellected.svg" align="right" large class="heartIcon" />
                    </div>
                    <br/>
                    <br/>
                    <img [src]="specialArr[1].image" style="width:28%;height:40px;float:left;padding-left:4%;" />
                    <div style="width:68%;float:right;padding-right:2%;">
                        <span id="productName"> {{specialArr[1].name}}</span>  
                        <br/>
                        <span id="oldPrice" *ngIf="specialArr[1].newp_rice != null">{{specialArr[1].old_price}}</span> 
                        <span id="newPrice" *ngIf="specialArr[1].newp_rice == null">{{specialArr[1].old_price}}</span>
                        <span id="newPrice" *ngIf="specialArr[1].newp_rice != null">{{specialArr[1].newp_rice}}</span>
                        
                        <rating no-padding [(ngModel)]="specialArr[1].total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                    </div>
                </ion-card>
            </div>
            <div style="width:98%;bottom:0;position:absolute;height:49%;padding-right:1%;padding-left:1%;">
                <ion-card no-padding no-margin style="height:100%;width:100%" (click)="gotoProductPage(specialArr[2].id)">
                    <div (click)="addToFavourite($event,specialArr[2])" id="div_{{specialArr[2].id}}">
                        <img *ngIf="specialArr[2].in_wishlist==false" src="././assets/icons/favorite.svg" align="right" large class="heartIcon" />
                        <img *ngIf="specialArr[2].in_wishlist==true" src="././assets/icons/favorite_sellected.svg" align="right" large class="heartIcon"
                        />
                    </div>
                    <br/>
                    <br/>
                    <img [src]="specialArr[2].image" style="width:28%;height:40px;float:left;padding-left:4%;" />
                    <div style="width:68%;float:right;padding-right:2%;">
                        <span id="productName" no-wrap>{{specialArr[2].name}}</span>
                        <br/>

                        <span id="oldPrice" *ngIf="specialArr[2].newp_rice != null">{{specialArr[2].old_price}}</span><br/>
                        <span id="newPrice" *ngIf="specialArr[2].newp_rice == null">{{specialArr[2].old_price}}</span>
                        <span id="newPrice" *ngIf="specialArr[2].newp_rice != null">{{specialArr[2].newp_rice}}</span><br/>
                        


                        <rating no-padding [(ngModel)]="specialArr[2].total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                    </div>
                </ion-card>
            </div>
        </div>
    </div>

    <!------------ Best Seller Area -------------------->
    <ion-item no-lines class="titleItem">
        <span>{{"BESTSELLER" | translate }}</span>
        <span item-end>
            <a (click)="openSpecialsPage('sells')">{{"MORE" | translate}}</a>
        </span>
    </ion-item>
    <div *ngIf="loaded3 && bestseallers.length" style="width:100%;background-color:#f7f5fa;display: table;padding:1%;">
        <div style="width:47%;padding-left:1%;padding-right:1%;display: table-cell;">
            <ion-card no-padding text-wrap no-margin style="height:100%;width:100%" (click)="gotoProductPage(bestseallers[0].id)">
                <div (click)="addToFavourite($event,bestseallers[0])">
                    <img *ngIf="bestseallers[0].in_wishlist==false" src="././assets/icons/favorite.svg" align="right" class="heartIcon" />
                    <img *ngIf="bestseallers[0].in_wishlist==true" src="././assets/icons/favorite_sellected.svg" align="right" class="heartIcon"
                    />
                </div>
                <ion-item text-center>
                    <img [src]="bestseallers[0].image" class="cardImg" />
                </ion-item>
                <ion-item style="margin-bottom:15px;">
                    <div style="margin-right:4%;text-align:center">
                        <span id="productName" no-wrap>{{bestseallers[0].name}}</span>
                        <br/>

                        <span id="oldPrice" *ngIf="bestseallers[0].newp_rice != null">{{bestseallers[0].old_price}}</span><br/>
                        <span id="newPrice" *ngIf="bestseallers[0].newp_rice == null">{{bestseallers[0].old_price}}</span>
                        <span id="newPrice" *ngIf="bestseallers[0].newp_rice != null">{{bestseallers[0].newp_rice}}</span><br/>
                        

                        <rating no-padding [(ngModel)]="bestseallers[0].total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                    </div>
                </ion-item>
            </ion-card>
        </div>
        <div style="width:47%;padding-left:1%;padding-right:1%;display: table-cell;position:relative;background-color:#f7f5fa;">
            <div style="width:98%;top:0;position:absolute;height:49%;padding-right:1%;padding-left:1%;">
                <ion-card no-padding no-margin style="height:100%;width:100%" (click)="gotoProductPage(bestseallers[1].id)">
                    <div (click)="addToFavourite($event,bestseallers[1])">
                        <img *ngIf="bestseallers[1].in_wishlist==false" src="././assets/icons/favorite.svg" align="right" large class="heartIcon"
                        />
                        <img *ngIf="bestseallers[1].in_wishlist==true" src="././assets/icons/favorite_sellected.svg" align="right" large class="heartIcon"
                        />
                    </div>
                    <br/>
                    <br/>
                    <img [src]="bestseallers[1].image" style="width:28%;height:40px;float:left;padding-left:4%;" />
                    <div style="width:68%;float:right;padding-right:2%;">
                        <span id="productName" no-wrap>Canon</span>
                        <br/>

                        <span id="oldPrice" *ngIf="bestseallers[1].newp_rice != null">{{bestseallers[1].old_price}}</span><br/>
                        <span id="newPrice" *ngIf="bestseallers[1].newp_rice == null">{{bestseallers[1].old_price}}</span>
                        <span id="newPrice" *ngIf="bestseallers[1].newp_rice != null">{{bestseallers[1].newp_rice}}</span><br/>
                        

                        <rating no-padding [(ngModel)]="bestseallers[1].total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                    </div>
                </ion-card>
            </div>
            <div style="width:98%;bottom:0;position:absolute;height:49%;padding-right:1%;padding-left:1%;">
                <ion-card no-padding no-margin style="height:100%;width:100%" (click)="gotoProductPage(bestseallers[2].id)">
                    <div (click)="addToFavourite($event,bestseallers[2])">
                        <img *ngIf="bestseallers[2].in_wishlist==false" src="././assets/icons/favorite.svg" align="right" large class="heartIcon"/>
                        <img *ngIf="bestseallers[2].in_wishlist==true" src="././assets/icons/favorite_sellected.svg" align="right" large class="heartIcon"/>
                    </div>
                    <br/>
                    <br/>
                    <img [src]="bestseallers[2].image" style="width:28%;height:40px;float:left;padding-left:4%;" />
                    <div style="width:68%;float:right;padding-right:2%;">
                        <span id="productName" no-wrap>Canon</span>
                        <br/>

                        <span id="oldPrice" *ngIf="bestseallers[2].newp_rice != null">{{bestseallers[2].old_price}}</span><br/>
                        <span id="newPrice" *ngIf="bestseallers[2].newp_rice == null">{{bestseallers[2].old_price}}</span>
                        <span id="newPrice" *ngIf="bestseallers[2].newp_rice != null">{{bestseallers[2].newp_rice}}</span><br/>
                        


                        <rating no-padding [(ngModel)]="bestseallers[2].total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                    </div>
                </ion-card>
            </div>
        </div>
    </div>

    <!------------ Latest Area -------------------->
    <ion-item no-lines class="titleItem">
        <span>{{"LATEST" | translate}}</span>
        <span item-end>
            <a (click)="openSpecialsPage('latest')">{{"MORE" | translate}}</a>
        </span>
    </ion-item>
    <div class="latestContainer" *ngIf="loaded3 &&latest.length">
        <div *ngFor="let item of latest" class="latestChildDiv">
            <ion-card no-padding text-wrap no-margin style="height:100%;width:100%" (click)="gotoProductPage(item.id)">
                <div>
                    <button class="newBtn">New</button>
                    <img *ngIf="item.in_wishlist==false" src="././assets/icons/favorite.svg" (click)="addToFavourite($event,item)" align="right"
                        class="heartIcon" />
                    <img *ngIf="item.in_wishlist==true" src="././assets/icons/favorite_sellected.svg" (click)="addToFavourite($event,item)"
                        align="right" class="heartIcon" />

                    

                </div>
                <ion-item text-center>
                    <img src="{{item.image}}" class="cardImg" />
                </ion-item>
                <ion-item>
                    <div class="latestTextDiv">
                        <span id="productName" no-wrap>{{item.name}}</span>
                        <br/>
                        <span id="oldPrice" *ngIf="item.newp_rice != null">{{item.old_price}}</span><br/>
                        <span id="newPrice" *ngIf="item.newp_rice == null">{{item.old_price}}</span>
                        <span id="newPrice" *ngIf="item.newp_rice != null">{{item.newp_rice}}</span><br/>
                        <rating no-padding [(ngModel)]="item.total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                    </div>
                </ion-item>
            </ion-card>
        </div>
    </div>

</ion-content>