page-home {
    #headerSlider {
        direction: ltr !important;
        width: 100%;
        // height: 20%;
        background-color: #f7f5fa;
    }
    #searchDiv {
        margin-left: 5%;
        width: 94%;
        border-radius: 1.5%;
        height: 50%;
        background-color: white;
        input {
            border: 0;
        }
    }

    #bottomSliderDiv {
        width: 100%;
        height: 14%;
        padding: 0;
        padding-top: 3%;
        direction: ltr !important;        
        background-color: #f7f5fa;
    }
    .bottomSliderContainer {
        height: 80%;
        ion-card {
            height: 100%;
        }
    }
    .heartIcon {
        width:13%;height:13%;margin-right:5%;margin-top:5%;
    }
    .sliderCard {
        height: 100%;
        width: 100px;
    }
    a {
        color: gray;
    }
    #productName {
        font-size: 13px;
        font-weight: bold;
    }
    #oldPrice {
        text-decoration: line-through;
        font-size: 10px;
        color: gray;
    }
    #newPrice {
        font-size: 12px;
        color: red;
        font-weight: bold;
    }
    .newBtn {
        color:white;background-color:green;margin-top:5%;float:left;border:1px green solid;
    }
    .titleItem {
        background-color: #f7f5fa;
        margin-bottom: 0;
        width: 100%;
    }
    #body {
        background-color: #f7f5fa;
    }
    .latestContainer {
        width: 100%;
        padding-right: 1%;
        padding-left: 1%;
        padding-bottom: 2%;
        margin-bottom: 2%;
        background-color: #f7f5fa;
    }
    .latestChildDiv {
        width: 50%;
        float: left;
        padding: 0 1% 2% 1%;
        background-color: #f7f5fa;
    }
    .latestTextDiv {
        margin-right:4%;text-align:center
    }
    .content-ios hr {
        height: 1px;
        background-color: lightgray;
    }
    ul {
        padding: 0px;
        margin: 0;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: gold;
        }
    }
}