<ion-buttons end (click)="presentPopoverSpecial($event)" mode="md">
    <button ion-button icon-only clear>
    <ion-icon name="md-more" id="moreIcon"></ion-icon>
  </button>
</ion-buttons>
<!-- <ion-buttons end="" mode="md" class="bar-buttons bar-buttons-md" ng-reflect-mode="md">
        <button icon-only="" ion-button="" class="disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios"><span class="button-inner">
            <ion-icon name="md-more" role="img" class="icon icon-ios ion-md-more" aria-label="more" ng-reflect-name="md-more"></ion-icon>
        </span><div class="button-effect"></div></button>
    </ion-buttons> -->