<ion-header>
    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"SETTINGS" | translate}}</ion-title>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines no-padding>
        <ion-item (click)="presentPopover()">
            <h3 item-start>Language</h3>
            <h3 item-end id="lang">{{ language }}</h3>
        </ion-item>
        <hr/>
        <ion-item>
            <h3 item-start>Push Notifications</h3>
            <ion-checkbox item-end [(ngModel)]="pushNotification" (ionChange)="changePushNotification()"></ion-checkbox>            
        </ion-item>
        <hr/>
        <ion-item>
        <h3 item-start>Newsletters Subscription</h3>
            <ion-checkbox item-end [(ngModel)]="newsLetter" (ionChange)="changeNewsLetter()"></ion-checkbox>
        </ion-item>
        <hr/>
        <ion-item>
            <h3 item-start>Service Center</h3>
        </ion-item>
        <hr/>
        <ion-item>
            <h3 item-start>Privacy Policy</h3>
        </ion-item>
        <hr/>
        <ion-item>
            <h3 item-start>Rate Us on Google Play</h3>
        </ion-item>
        <hr/>
        <ion-item>
            <h3 item-start>App Version</h3>
            <h3 item-end id="appVersion" color="danger">1.0</h3>
        </ion-item>
        <hr/>
    </ion-list>
</ion-content>