page-categories {
    img {
        // border: 1px black solid;
        width: 90%;
        // height: 80px;
    }
    #productName {
        font-size: 13px;
        font-weight: bold;
    }
    #productLink {
        font-size: 12px;
        color: black;
        text-decoration: underline;
    }
}