<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>{{"CATEGORIES" | translate}}</ion-title>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <cart-icon no-padding no-margin></cart-icon>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid grid-padding-width="5px">
        <ion-row>
            <ion-col col-6 text-center *ngFor="let cat of categories">
                <img src="{{cat.image}}" /><br/>
                <span id="productName">{{cat.name}}</span><br/>
                <span id="productLink"  (click)="getproducts(cat.id,cat.name)" >{{"CHECKOFFERS" | translate }}</span>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>