page-product {
    #firstCard {
        width: 100%;
        height: 44%;
        text-align: center;
        vertical-align: middle;
    }
    #headerSlider {
        width: 100%;
        height: 50%;
        margin-top: 8%;
        img {
            width: 50%;
            height: 75%;
            margin-top: 10%;
            text-align: center;
            align-items: center;
            // left: 0;
            // right: 0;
            margin: 0 auto;
        }
    }
    ul {
        padding: 0px;
        margin: 0;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: gold;
        }
    }
    #bottomSlider {
        margin-top: 4%;
        height: 40%;
        .slider .slider-pager {
            text-align: right;
        }
    }
    #addSpan {
        padding-left: 5%;
        padding-left: 2%;
    }
    .sliderBtn {
        background-color: #c1eee1;
        color: #2fb991;
    }
    #checkoutBtn {
        background-color: #2fb991;
        color: white;
    }
    #productCard {
        margin-top: 3%;
        width: 100%;
    }
    #oldPrice {
        text-decoration: line-through;
        font-size: 12px;
        color: gray;
    }
    #newPrice {
        font-size: 15px;
        color: red;
        font-weight: bold;
    }
    #productName {
        font-weight: bold;
    }
    #productNameslider {
        font-size: 14px;
        font-weight: bold;
    }
    #FgrayBtn,
    #SgrayBtn {
        color: gray;
        background-color: #f7f5fa;
    }
    #SgrayBtn {
        width: 10%;
    }
    #productDec {
        font-size: 15px;
    }
    #grayTxt {
        color: gray;
    }
    #body {
        background-color: #F0F0F0;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        left: 0;
        bottom: 80%;
        width: 100%;
    }
    .swiper-pagination-bullets .swiper-pagination-bullets-active {
        color: red;
    }
    ion-content div.scroll-content {
        background-color: transparent;
        // opacity: 0.6;
    }
    .modal-wrapper {
        z-index: 10;
        height: 100%;
        // transform: translateY(55%);
    }
    .SMBtn {
        border-radius: 50%;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .optionName {
        font-size: 10px;
        color: gray;
    }
}