<ion-header>
  <ion-navbar color="dark">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{currentProduct.name}}</ion-title>
    <ion-buttons end mode="md" (click)="share()">
      <button ion-button icon-only no-padding no-margin>
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end mode="md" style="padding:0;margin:0;">
      <cart-icon no-padding no-margin></cart-icon>
    </ion-buttons>
    <ion-buttons end mode="md" style="padding:0;margin:0;">
      <more-icon no-padding no-margin></more-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="body">
  <div *ngIf="currentProduct">
    
  <ion-card no-padding no-margin id="firstCard" text-center>

    <div id="headerSlider">

      <!-- <ion-slides *ngIf="currentProduct.photos && currentProduct.photos.length" pager direction="horizontal" slidesPerView="3.0"
        spaceBetween="37" autoplay="3000" speed="3000">
        <ion-slide *ngFor="let img of currentProduct.photos">
          <img [src]="img.image" />
        </ion-slide>
      </ion-slides> -->

      <!-- *ngIf="currentProduct.photos.data.length==0" -->
      <img [src]="currentProduct.image" />
    </div>


    <!-- categories -->
    <div id="bottomSlider">
      <ion-slides *ngIf="lstCategories && lstCategories.length" pager direction="horizontal" slidesPerView="3.0" spaceBetween="37"
        autoplay="3000" speed="3000">
        <ion-slide *ngFor="let category of lstCategories">
          <button ion-button class="sliderBtn">{{category.name}}</button>
        </ion-slide>
      </ion-slides>
    </div>



  </ion-card>
  <ion-card no-padding no-margin id="productCard">
    <ion-list>
      <ion-item>
        <h2 id="productName">{{currentProduct.name}}</h2>
        <p>{{"AVIALABILITY" | translate}}:{{currentProduct.availability}}</p>
      </ion-item>
      <ion-item text-center>
        <div style="float:left;margin-left:15%;">
          <span id="newPrice" *ngIf="currentProduct.newp_rice == null">{{currentProduct.old_price}}</span>
          <span id="newPrice" *ngIf="currentProduct.newp_rice != null">{{currentProduct.newp_rice}}</span>

          <br/>
          <span id="oldPrice" *ngIf="currentProduct.newp_rice != null">{{currentProduct.old_price}}</span>
          <br/>
        </div>
        <div style="float:right;margin-right:15%;">
          <rating no-padding [(ngModel)]="currentProduct.total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>

          <p>({{currentProduct.total_reviews}}){{"REVIEWS" | translate}}</p>
        </div>

        <ion-icon *ngIf="getCurrentLAnguage()=='en'" name="ios-arrow-forward" style="color:lightgray;" item-end></ion-icon>
        <ion-icon *ngIf="getCurrentLAnguage()=='ar'" name="ios-arrow-back" style="color:lightgray;" item-end></ion-icon>

      </ion-item>
      <ion-item text-center>
        <button ion-button id="checkoutBtn"  (click)="gotocart(currentProduct.id)" >{{"CHECKOUT" | translate}}</button>

        <button ion-button id="FgrayBtn" icon-left   (click)="addCart(currentProduct.id)" >
          <ion-icon name="cart"></ion-icon>
          <span id="addSpan">{{"ADDTOCART" | translate }}</span>
        </button>

        <button ion-button text-center id="SgrayBtn"  (click)="addToWishlist(currentProduct)"  icon-only>
          <ion-icon  *ngIf='currentProduct.in_wishlist' name="md-heart" color="danger" ></ion-icon>
          <ion-icon  *ngIf='!currentProduct.in_wishlist' name="md-heart-outline" ></ion-icon>
        </button>

      


      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card no-padding no-margin id="productCard">
    <ion-list>
      <ion-item>
        {{"DESCRIPTION" | translate }}
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-row>
            <ion-col col-6 id="grayTxt">
              {{"BRAND" | translate}}
            </ion-col>
            <ion-col col-6 id="productDec">
              {{currentProduct.brand}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 id="grayTxt">
              {{"PRODUCTCODE" | translate }}
            </ion-col>
            <ion-col col-6 id="productDec">
              {{currentProduct.code}}
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-item>
      <hr/>
      <ion-item>
        <span text-wrap style="font-size:15px;">
          {{currentProduct.description}}
        </span>
      </ion-item>
      <hr/>
      <ion-item text-center style="color:red;" (click)="gotoDecriptionPage(currentProduct.description)">
        {{"VIEWALL" | translate}}
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card no-padding no-margin id="productCard">
    <ion-list>
      <ion-item>
        {{"REVIEWS" | translate}}({{currentProduct.total_reviews}})
      </ion-item>


      <ion-item   *ngIf="lstReviews && lstReviews.length" >
        <ion-avatar item-start>
          <img src="http://safe-pay.co/safepay/public/uploadedimg/user/avatar.png">
        </ion-avatar>
        <h2>{{lstReviews[0].user.name}}</h2>
        <p>{{lstReviews[0].date}}</p>
        <rating no-padding [(ngModel)]="lstReviews[0].rating_number" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
          starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
        <span id="productDec">{{lstReviews[0].comment}}</span>
      </ion-item>


      <hr/>
      <ion-item text-center style="color:red;" (click)="goToReviewsPage(currentProduct.id,lstReviews)">
        {{"VIEWALL" | translate}}
      </ion-item>
    </ion-list>
  </ion-card>

  <h5  *ngIf="lstRelatedProducts && lstRelatedProducts.length" style="padding-left:3%;padding-right:3%;margin-bottom:0;">{{"RELATEDPRODUCTS" | translate }}</h5>

  <ion-slides *ngIf="lstRelatedProducts && lstRelatedProducts.length" no-margin no-padding autoplay="3000" speed="3000" direction="horizontal"
    slidesPerView="2.1" spaceBetween="0" style="height:45%;">
    <ion-slide *ngFor="let product of lstRelatedProducts" (click)="goToProductPage(product.id)">
      <ion-card>
        <div>
          <img src="././assets/icons/favorite.svg" align="right" style="margin-top:5%;margin-right:5%;float:right;width:11%;height:11%;"
          />
        </div>
        <ion-item>
          <img src="product.image" style="width:45px;height:45px;margin-left:30%;" />
        </ion-item>
        <ion-item>
          <div style="margin-right:4%;text-align:center">
            <span id="productNameslider" no-wrap>{{product.name}}</span>
            <br/>
            <span id="oldPrice" *ngIf="product.newp_rice != null">{{product.old_price}}</span>
            <span id="newPrice" *ngIf="product.newp_rice == null">{{product.old_price}}</span>
            <br/>
            <span id="newPrice" *ngIf="product.newp_rice != null">{{product.newp_rice}}</span>
            <br/>
            <rating no-padding [(ngModel)]="product.total_rates" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
              starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
          </div>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>

  </div>


</ion-content>