<ion-buttons end (click)="goToShoopingCart()" mode="md">
    <button ion-button icon-only clear id="notifications-button">
    <ion-icon id="cartIcon" name="cart"></ion-icon>
    <!-- <ion-badge item-end id="notifications-badge">2</ion-badge> -->
  </button>
</ion-buttons>
