cart-icon {
    #cartIcon {
        color: white;
    }
    $badge-md-background-color:color($colors,danger);
    $badge-md-border-radius:100%;
    $badge-md-text-color:color($colors,dark);
    #notifications-badge{
        background: $badge-md-background-color;
        border-radius: $badge-md-border-radius;
        color:$badge-md-text-color;
        position: relative;
        top: -12px;
        left: -15px;
    }
}