<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>عنا</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>

<div>

    <ion-item>
        <ion-icon color="danger" name="locate" item-start small></ion-icon>
        <h2> ثانوية الأوئل الأهلية </h2>
    </ion-item>

    <ion-item>
        <ion-icon color="danger" name="call" item-right small></ion-icon>
        <h2>الهاتف:  0137210111  </h2>
    </ion-item>

    <ion-item>
        <ion-icon color="danger" name="mail" item-right small></ion-icon>
        <h2>البريد الالكترونى:  alawaelqm@gmail.com  </h2>
    </ion-item>


    <ion-item>
        <ion-icon color="danger" name="locate" item-right small></ion-icon>
        <h2>العنوان:  حفر الباطن - شارع هارون الرشيد - حى التلال  </h2>
    </ion-item>


   



</div>


</ion-content>