    .menuBtn {
        background: transparent !important;
    }
    
    #topDivContainer {
        height: 25%;
        width: 100%;
        vertical-align: center;
        #topImgDiv {
            padding-top: 10%;
            width: 40%;
            height: 100%;
            text-align: center;
            float: left;
            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 3px #8B4513 solid;
                margin-top: 10%;
            }
        }
        #sideText {
            padding-top: 21%;
            padding-left: 0;
            width: 50%;
            height: 100%;
            float: left;
            a {
                color: white;
            }
        }
        .col {
            border: 1px solid black;
        }
        .input-wrapper {
            color: white;
            ion-label {
                color: white;
            }
        }
        ion-label {
            color: white;
        }
        #menuItemTilte {
            color: white;
        }
        .content-ios hr {
            height: 1px;
            background-color: white;
            color: white;
        }
    }
    
    #menuIcon {
        width: 8%;
        height: 8%;
    }
    
    #menuTitle {
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding-right: 9%;
        padding-left: 9%;
    }
    
    #menuTitleEn {
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding-left: 9%;
        padding-right: 9%;
    }
    
    #topDivContainerAndroid {
        height: 25%;
        width: 100%;
        vertical-align: center;
        #topImgDiv {
            padding-top: 10%;
            width: 40%;
            height: 100%;
            text-align: center;
            float: left;
            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 3px #8B4513 solid;
                margin-top: 10%;
            }
        }
        #sideText {
            padding-top: 21%;
            padding-left: 0;
            width: 50%;
            height: 100%;
            float: left;
            a {
                color: white;
            }
            #personName {
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
    
    #androidMenuTitle {
        color: black;
        font-weight: 400;
        font-size: 15px;
        padding-left: 9%;
        padding-right: 9%;
    }
    
    #specialsMenuTitle {
        color: #eb402e;
        font-weight: 400;
        font-size: 15px;
        padding-left: 9%;
        padding-right: 9%;
    }
    
    #androidMenuTitleAr {
        color: black;
        font-weight: 400;
        font-size: 15px;
        padding-right: 9%;
    }
    
    #androidMenuSpecAr {
        color: #eb402e;
        font-weight: 400;
        font-size: 15px;
        padding-right: 9%;
    }
    
    html[dir="rtl"] {
        .back-button-icon.icon-md.back-button-icon-md.ion-md-arrow-back {
            transform: rotate(180deg);
        }
        .back-button-icon.icon-ios.back-button-icon-ios.ion-ios-arrow-back {
            transform: rotate(180deg);
            padding: 0 5px;
        }
    }
    
    //slider pager color in android
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        color: red;
        background-color: red;
        margin: 0 3px;
        border-radius: 50%;
    }
    
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        // overflow-x: auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
    }
    
    .cardImg {
        width: 45px;
        height: 45px;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }