<ion-menu [content]="content" *ngIf="mode == 'ios' && language == 'ar'" side="right">

    <ion-content id="container" style="background-image: url('./assets/images/nav.png');background-size: cover">
        <div id="topDivContainer">
            <div id="topImgDiv">
                <img [src]="userData.image" />
            </div>
            <div id="sideText">
                <button class="menuBtn" menuClose clear (click)="openLoginPage()"><a>{{userData.name}}</a></button><br/>
                <button class="menuBtn" clear><a>{{userData.email}}</a></button>
            </div>
        </div>

        <ion-list>
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of appMenuItems"  [disabled]="menuItem.isDisabled" (click)="openPage(menuItem)">
                <img id="menuIcon" src="{{menuItem.iosIcon}}"/>
                <span id="menuTitle">{{menuItem.title}}</span>
            </button>
        </ion-list>
        <hr  *ngIf="isLogedId" style="height: 1px;background-color: rgba(225, 225, 225, 0.22);">
        <ion-list  *ngIf="isLogedId">
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of accountMenuItems"  [disabled]="menuItem.isDisabled" (click)="openPage(menuItem)">
                <img id="menuIcon" src="{{menuItem.iosIcon}}"/>
                <span id="menuTitle">{{menuItem.title}}</span>
            </button>

            <!-- <button class="menuBtn" menuClose ion-item no-lines  (click)="logout()">
                    <img id="menuIcon" src="./assets/icons/iosmenu/logout.svg"/>
                    <span id="menuTitle">logout</span>
                </button> -->

        </ion-list>

    </ion-content>

</ion-menu>

<ion-menu [content]="content" *ngIf="mode == 'ios' && language == 'en'" side="left">

    <ion-content id="container" style="background-image: url('./assets/images/nav.png');background-size: cover">
        <div id="topDivContainer">
            <div id="topImgDiv">
                <img [src]="userData.image" />
            </div>
            <div id="sideText">
                <button class="menuBtn" menuClose clear (click)="openLoginPage()"><a>{{userData.name}}</a></button><br/>
                <button class="menuBtn" clear><a>{{userData.email}}</a></button>
            </div>
        </div>

        <ion-list>
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of appMenuItems" [disabled]="menuItem.isDisabled" (click)="openPage(menuItem)">
                <img id="menuIcon" src="{{menuItem.iosIcon}}"/>
                <span id="menuTitleEn">{{menuItem.title}}</span>
            </button>
        </ion-list>
        <hr  *ngIf="isLogedId" style="height: 1px;background-color: rgba(225, 225, 225, 0.22);">
        <ion-list  *ngIf="isLogedId">
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of accountMenuItems"  [disabled]="menuItem.isDisabled" (click)="openPage(menuItem)">
                <img id="menuIcon" src="{{menuItem.iosIcon}}"/>
                <span id="menuTitleEn">{{menuItem.title}}</span>
            </button>

            <!-- <button class="menuBtn" menuClose ion-item no-lines  (click)="logout()">
                    <img id="menuIcon" src="./assets/icons/iosmenu/logout.svg"/>
                    <span id="menuTitle">logout</span>
                </button> -->

        </ion-list>

    </ion-content>

</ion-menu>

<ion-menu [content]="content" *ngIf="mode == 'md' && language == 'ar'" side="right">

    <ion-content id="container">
        <div id="topDivContainerAndroid" style="background-image: url('./assets/icons/mdmenu/Background-Red.PNG');background-size: cover">
            <div id="topImgDiv">
                <img [src]="userData.image" />
            </div>
            <div id="sideText">
                <button class="menuBtn" clear menuClose (click)="openLoginPage()"><a id="personName">{{userData.name}}</a></button><br/>
                <button class="menuBtn" clear><a>{{userData.email}}</a></button>
            </div>
        </div>

        <ion-list>
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of appMenuItems"  [disabled]="menuItem.isDisabled" (click)="openPage(menuItem,menuItem.title)">
                <img *ngIf="menuItem.title == activPage" src="{{menuItem.mdIconSelected}}" id="menuIcon"/>
                <img *ngIf="menuItem.title != activPage"  src="{{menuItem.mdIcon}}" id="menuIcon"/>
                <span *ngIf="menuItem.title=='Specials' || menuItem.title=='العروض الخاصة'" id="specialsMenuTitle">{{menuItem.title}}</span>                
                <span *ngIf="menuItem.title!='Specials' && menuItem.title != 'العروض الخاصة'" id="androidMenuTitle" >{{menuItem.title}}</span>
            </button>
        </ion-list>
        <hr *ngIf="isLogedId" style="height: 1px;background-color: lightgray">
        <ion-list *ngIf="isLogedId">
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of accountMenuItems"   [disabled]="menuItem.isDisabled" (click)="openPage(menuItem,menuItem.title)">
                <img *ngIf="menuItem.title == activPage" src="{{menuItem.mdIconSelected}}" id="menuIcon"/>                
                <img *ngIf="menuItem.title != activPage" src="{{menuItem.mdIcon}}" id="menuIcon"/>
                <span id="androidMenuTitleAr">{{menuItem.title}}</span>
            </button>

            <!-- <button class="menuBtn" menuClose ion-item no-lines  (click)="logout()">
                    <img id="menuIcon" src="./assets/icons/mdmenu/logout.svg"/>
                    <span id="menuTitle">logout</span>
                </button> -->

        </ion-list>

        


    </ion-content>

</ion-menu>

<ion-menu [content]="content" *ngIf="mode == 'md' && language == 'en'" side="left">

    <ion-content id="container">
        <div id="topDivContainerAndroid" style="background-image: url('./assets/icons/mdmenu/Background-Red.PNG');background-size: cover">
            <div id="topImgDiv">
                <img [src]="userData.image" />
            </div>
            <div id="sideText">
                <button class="menuBtn" clear menuClose (click)="openLoginPage()"><a id="personName">{{userData.name}}</a></button><br/>
                <button class="menuBtn" clear><a>{{userData.email}}</a></button>
            </div>
        </div>

        <ion-list>
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of appMenuItems"  [disabled]="menuItem.isDisabled" (click)="openPage(menuItem,menuItem.title)">
                <img id="menuIcon" *ngIf="menuItem.title == activPage" src="{{menuItem.mdIconSelected}}"/>
                <img id="menuIcon" *ngIf="menuItem.title != activPage"  src="{{menuItem.mdIcon}}"/>
                <span *ngIf="menuItem.title=='Specials' || menuItem.title=='العروض الخاصة'" id="specialsMenuTitle">{{menuItem.title}}</span>                
                <span *ngIf="menuItem.title!='Specials' && menuItem.title != 'العروض الخاصة'" id="androidMenuTitle" >{{menuItem.title}}</span>         
            </button>
        </ion-list>
        <hr *ngIf="isLogedId" style="height: 1px;background-color: lightgray">
        <ion-list  *ngIf="isLogedId" >
            <button class="menuBtn" menuClose ion-item no-lines *ngFor="let menuItem of accountMenuItems"  [disabled]="menuItem.isDisabled" (click)="openPage(menuItem,menuItem.title)">
                <img id="menuIcon" *ngIf="menuItem.title == activPage" src="{{menuItem.mdIconSelected}}"/>                
                <img id="menuIcon" *ngIf="menuItem.title != activPage" src="{{menuItem.mdIcon}}"/>
                <span id="androidMenuTitle" >{{menuItem.title}}</span>
            </button>

            <!-- <button class="menuBtn" menuClose ion-item no-lines  (click)="logout()">
                    <img id="menuIcon"  src="./assets/icons/mdmenu/logout.svg"/>                
                    <span id="androidMenuTitle" >logout</span>
                </button> -->



        </ion-list>

    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>