    page-share-options {
        .SMBtn {
            border-radius: 50%;
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .optionName {
            font-size: 10px;
            color: gray;
        }
        #topDiv {
            height: 55%;
            opacity: 0.5;
            // background: transparent !important;
            // background: rgba(200, 54, 54, 0.5);
        }
        #bottomList {
            height: 45%;
            display: block;
        }
        #bottomList:after {
            height: 45%;
            display: block;
            opacity: 1;
        }
        ion-content {
            // height: 100%;
            // opacity: 0.3;
            top: 55%;
        }
    }