page-share-options .SMBtn {
  border-radius: 50%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

page-share-options .optionName {
  font-size: 10px;
  color: gray;
}

page-share-options #topDiv {
  height: 55%;
  opacity: 0.5;
}

page-share-options #bottomList {
  height: 45%;
  display: block;
}

page-share-options #bottomList:after {
  height: 45%;
  display: block;
  opacity: 1;
}

page-share-options ion-content {
  top: 55%;
}
