<ion-content no-padding no-margin>
    <!-- <ion-list id="topDiv" (click)="dismissModal()">
    </ion-list> -->
    <ion-list no-lines no-padding no-margin id="bottomList">
        <ion-list-header>
            Share Options
        </ion-list-header>
        <ion-grid>
            <ion-row>
                <ion-col col-3 text-center>
                    <button ion-button clear style="background-image: url('././assets/icons/Social/copylink.png');background-size: 100%;background-position: center center;background-repeat: no-repeat;" (click)="copyLink()">            
                        </button><br/>
                    <span class="optionName">Copy Link</span>
                </ion-col>
                <ion-col col-3 text-center>
                    <button ion-button clear (click)="shareToFB()" class="SMBtn" style="background-image: url('././assets/icons/Social/facebook.PNG');">  
                           
                        </button><br/>
                    <span class="optionName">Facebook</span>
                </ion-col>
                <ion-col col-3 text-center>
                    <button ion-button clear (click)="shareToTwitter()" class="SMBtn" style="background-image: url('././assets/icons/Social/twitter.PNG');">
                        </button><br/>
                    <span class="optionName">Twitter</span>
                </ion-col>
                <ion-col col-3 text-center>
                    <button ion-button clear (click)="shareToGoogle()" class="SMBtn" style="background-image: url('././assets/icons/Social/google.png');">
                        </button><br/>
                    <span class="optionName">Google Plus</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 text-center>
                    <button ion-button clear (click)="shareToWhats()" class="SMBtn" style="background-image: url('././assets/icons/Social/whatsapp.png');">
                            
                        </button><br/>
                    <span class="optionName">Wahts Up</span>
                </ion-col>
                <ion-col col-3 text-center>
                    <button ion-button clear (click)="shareToTumblr()" class="SMBtn" style="background-image: url('././assets/icons/Social/tumblr.png');">  
                           
                        </button><br/>
                    <span class="optionName">Tumblr</span>
                </ion-col>
                <ion-col col-3 text-center>
                    <button ion-button clear (click)="shareToLinkedin()" class="SMBtn" style="background-image: url('././assets/icons/Social/linkedin.PNG');">
                        </button><br/>
                    <span class="optionName">Linkedin</span>
                </ion-col>
                <ion-col col-3 text-center>
                    <button ion-button clear (click)="more()" class="SMBtn" style="background-image: url('././assets/icons/Social/more.PNG');">
                        </button><br/>
                    <span class="optionName">More</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>