<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list no-lines>

            <form #signinForm="ngForm">

        <ion-row no-lines>
            <ion-col>
                <ion-item no-lines>
                    <ion-item item-start id="imgItem">
                        <img item-start src="././assets/icons/email.svg" />
                    </ion-item>
                    <ion-item item-end id="inputItem">
                        <ion-label floating>{{"EMAILADDRESS" | translate}}</ion-label>
                        <ion-input type="email"  [(ngModel)]="signinData.username" name="username" required ></ion-input>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item no-lines>
                    <ion-item item-start id="imgItem">
                        <img item-start src="././assets/icons/password.svg" />
                    </ion-item>
                    <ion-item item-end id="inputItem" no-lines>
                        <ion-label floating>{{"PASSWORD" | translate}}</ion-label>
                        <ion-input type="password" [(ngModel)]="signinData.password"  name="password"  required ></ion-input>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <button ion-button color="light" full (click)="signin()" [disabled]="!signinForm.form.valid" >{{"LOGIN" | translate }}</button>
            </ion-col>
        </ion-row>
            </form>
        <!-- <ion-row>
            <ion-col>
                <button ion-button clear><a  (click)="openForgetPassPage()">{{"FORGOTPASSWORD" | translate }}</a></button>
            </ion-col>
        </ion-row> -->

        <!-- <ion-row>
            <ion-col>
                <button ion-button full icon-start color="primary">
                <ion-icon name="logo-facebook"></ion-icon> {{"LOGINWITHFACEBOOK" | translate}}
        </button>
            </ion-col>
        </ion-row> -->

        <ion-row>
            <ion-col>
                <button ion-button full icon-start color="danger">
                <ion-icon name="logo-googleplus"></ion-icon>
                  {{"LOGINWITHGOOGLE" | translate}}
        </button>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col>
                <span>{{"DONTHAVEACCOUNT" | translate}}</span> <a (click)="openRegisterPage()">{{"REGISTER" | translate}}</a>
            </ion-col>
        </ion-row>
    </ion-list>

</ion-content>