page-login-with-email {
    #topList {
        padding-left: 10%;
        padding-right: 10%;
        ion-item {
            width: 100%;
            button {
                width: 100%;
            }
        }
    }
    img {
        display: inline-block;
        vertical-align: middle;
        margin-top: 50%;
        height: 100%;
        width: 100%;
        margin: 10% 0px 0px 0px;
        // height: 8%;
        // width: 8%;
    }
    #imgItem {
        width: 6%;
        vertical-align: middle;
        padding: 0;
    }
    #inputItem {
        margin-left: 0;
        padding-left: 0;
        padding: 0;
        width: 94%;
        vertical-align: middle;
    }
    .item-md [item-left],
    .item-md [item-right],
    .item-md [item-start],
    .item-md [item-end] {
        margin: 100% 0px 0px 0;
        padding-top: 70%;
    }
    .item-ios [item-left],
    .item-ios [item-start] {
        margin: 100% 0px 0px 0;
        padding-top: 70%;
    }
    //To no margin between ion-item
    .list-md[no-lines] .item-block,
    .list-md[no-lines] ion-item-options,
    .list-md[no-lines] .item .item-inner {
        border-width: 0;
        padding: 0;
        margin: 0;
    }
    .list-ios[no-lines] ion-list-header,
    .list-ios[no-lines] ion-item-options,
    .list-ios[no-lines] .item,
    .list-ios[no-lines] .item .item-inner {
        border-width: 0;
        padding: 0;
        margin: 0;
    }
}