<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Checkout</ion-title>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <cart-icon no-padding no-margin></cart-icon>
        </ion-buttons>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content id="body">

    <ion-card no-padding no-margin id="firstCard" text-center>
        <ion-item no-lines>
            <span id="titleTop">{{"WHATTODO" | translate}}</span>
            <!-- </ion-item>
        <ion-item no-lines style="margin-top:0"> -->
            <p text-wrap>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery code.
            </p>
        </ion-item>
    </ion-card>

    <ion-card no-padding no-margin class="card">
        <ion-item no-lines>
            <ion-icon name="ios-cut-outline"></ion-icon>
            <span id="titleTop">{{"USECOUPON" | translate}}</span><br/>
            <input type="text" placeholder="{{'EnterCOUPON' | translate}}" />
        </ion-item>
    </ion-card>

    <ion-card no-padding no-margin class="card">
        <ion-item no-lines>
            <ion-icon name="ios-basket-outline"></ion-icon>
            <span id="titleTop">{{"GIFTVOUCHER" | translate}}</span><br/>
            <input type="text" placeholder="{{'ENTERGIFTVOUCHER' | translate}}" />
        </ion-item>
    </ion-card>

    <ion-card no-padding no-margin class="card">
        <ion-list>
            <ion-item class="floatingLbl">
                <ion-label floating class="floatingLbl">{{"COUNTRY" | translate}}</ion-label>
                <ion-input class="floatingLbl"></ion-input>
            </ion-item>
            <ion-item class="floatingLbl">
                <ion-label floating class="floatingLbl">{{"STATE" | translate}}</ion-label>
                <ion-input class="floatingLbl"></ion-input>
            </ion-item>
            <ion-item class="floatingLbl">
                <ion-label floating class="floatingLbl">{{"POSTCODE" | translate}}</ion-label>
                <ion-input class="floatingLbl"></ion-input>
            </ion-item> 
        </ion-list>
    </ion-card>

</ion-content>

<ion-footer no-padding no-margin>
    <ion-card style="width:100%;" no-padding no-margin>
        <ion-item>
            <div item-left>
                <h2 item-left id="totalPriceLbl">{{"SUBTOTAL" | translate}} </h2>
                <h2 item-left id="totalPriceLbl">{{"TOTAL" | translate}} </h2>
                <p style="color:white;">Qty</p>
                <p></p>
            </div>
            <div item-right>
                <h2 id="totalPriceLbl"> {{totalPrice}} KD </h2>
                <h2 id="totalprice"> {{totalPrice}} KD </h2>
                <p id="bottobP" text-center> {{productsCount}} Product</p>
            </div>
        </ion-item>
        <ion-item>
            <button ion-button full id="contBtn" color="greenCol" (click)="gotoDeliveryDetails()">{{"CONTINUE" | translate}}</button>
        </ion-item>
    </ion-card>
</ion-footer>