page-checkout {
    #firstCard {
        margin-top: 0;
        width: 100%;
    }
    #titleTop {
        font-size: 15px;
        font-weight: bold;
        padding-left: 4%;
        padding-right: 4%;
    }
    p {
        color: black;
        padding-top: 3%;
    }
    .card {
        width: 100%;
        margin-top: 3%;
    }
    input {
        margin-top: 3%;
        width: 100%;
        height: 40px;
        border-radius: 3%;
        border: 1px lightgray solid;
    }
    #bottobP {
        font-size: 14px;
    }
    .floatingLbl {
        width: 95%;
        // margin: 0;
        // padding: 0;
        // border:1px red solid;
    }
    .input-cover {
        border-bottom: 1px lightgray solid;
        margin-left: 5%;
        left: 0;
        top: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        width: 80%;
        text-align: center;
        height: 100%;
        -ms-touch-action: none;
        touch-action: none;
    }
    #totalPriceLbl {
        font-size: 15px;
        font-weight: bold;
    }
    #totalprice {
        font-size: 15px;
        font-weight: bold;
        color: red;
    }
    #body {
        background-color: #F0F0F0;
    }
    // To margin placeholder left
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        padding-left: 5%;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        padding-left: 5%;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        padding-left: 5%;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        padding-left: 5%;
    }
    .item-ios.item-label-stacked .text-input,
    .item-ios.item-label-floating .text-input {
        margin-left: 0;
        margin-top: 8px;
        margin-bottom: 0px;
        width: 87%;
        color: lightgray;
        border-bottom: 1px lightgray solid;
    }
    .item-label-stacked .input-wrapper,
    .item-label-floating .input-wrapper {
        color: gray;
    }
    #contBtn {
        height: 40px;
    }
}