<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Contact Us</ion-title>

        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content>

    <ion-card no-padding no-margin style="width:100%;height:100%;">

        <!-- <div id="map" #map style="width:100%;height:40%;"></div> -->
      
        
        <ion-fab  right fixed style="position:fixed;top:39%;" (click)="sendMessage()">
            <button ion-fab color="danger">
                <ion-icon name="ios-navigate"></ion-icon>
            </button>
        </ion-fab>

        <div style="height:60%;">
            <ion-item>
                <h2 item-start>{{"CONTACTUS" | translate }}</h2>
            </ion-item>
           
            <ion-item>
                <ion-icon color="danger" name="locate" item-start small></ion-icon>
                <h2> حفر الباطن - شارع هارون الرشيد - حى التلال </h2>
            </ion-item>

            <ion-item>
                <ion-icon color="danger" name="call" item-right small></ion-icon>
                <h2>{{"TELEPHONE" | translate}}:  0137210111  </h2>
            </ion-item>

            <ion-item>
                <ion-icon color="danger" name="archive" item-right small></ion-icon>
                <h2>{{"FAX" | translate}}: 0137210111 </h2>
            </ion-item>

            <ion-item>
                <ion-icon color="danger" name="mail" item-right small></ion-icon>
                <h2> alawaelqm@gmail.com </h2>
            </ion-item>
        </div>

    </ion-card>

</ion-content>