<ion-header no-margin no-padding>

    <ion-navbar no-margin no-padding style="bottom:0;" style="height:100%;">
        <!-- <ion-searchbar no-padding no-margin color="header" style="height:100%;" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
        </ion-searchbar> -->
        <div id="searchDiv">
            <ion-item>
                <button ion-button item-start icon-only color="dark" clear *ngIf="searchInput.length == 0">
                    <ion-icon name="search"></ion-icon>
                </button>
                <button item-start ion-button clear icon-only color="dark" *ngIf="searchInput.length > 0" (click)="gotoSearchPage()">
                    <ion-icon *ngIf="getCurrentLang() == 'en'" name="md-arrow-round-back"></ion-icon>
                    <ion-icon *ngIf="getCurrentLang() == 'ar'" name="md-arrow-round-forward"></ion-icon>                    
                </button>
                <input type="text" placeholder="{{ 'SEARCHFOR' | translate }}" [(ngModel)]="searchInput" />
                <button ion-button clear icon-only item-end color="dark" *ngIf="searchInput.length > 0" (click)="clearSearchBar()">
                    <ion-icon name="ios-close-circle"></ion-icon>
                </button>
            </ion-item>
        </div>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list no-lines no-padding no-margin style="margin-top:20%;">
        <ion-item>
            <ion-icon item-left small name="ios-timer-outline"></ion-icon>
            <span>Canon1</span>
        </ion-item>
        <ion-item>
            <ion-icon item-left small name="ios-timer-outline"></ion-icon>
            <span>Canon2</span>
        </ion-item>
    </ion-list>
</ion-content>