page-search-popover {
    #searchDiv {
        margin-left: 5%;
        width: 94%;
        border-radius: 1.5%;
        height: 50%;
        background-color: white;
        input {
            border: 0;
            // float: left;
        }
    }
    ion-icon {
        color: gray;
        font-size: 14px;
    }
    span {
        color: gray;
        font-size: 14px;
    }
    .searchbar-md {
        padding: 0;
    }
    .searchbar-ios {
        padding: 0;
        margin: 0;
    }
    ion-popover .popover-content {
        top: 12px;
        left: 5%;
        transform-origin: right top 0px;
        transform: scale(1);
        width: 90%;
    }
    .popover-ios .popover-content {
        border-radius: 10px;
        width: 200px;
        min-width: 0;
        min-height: 0;
        max-height: 90%;
        color: #000;
        background: #fff;
    }
}