page-search {
    #navList {
        padding: 0;
        margin: 0;
        ion-item {
            padding: 0;
            margin: 0;
            height: 5%;
        }
        ion-select {
            color: gray;
            padding-left: 5%;
        }
        ion-buttons button {
            padding: 0;
            margin: 0;
            ion-icon {
                color: gray;
            }
        }
    }
    #headerbtn {
        ion-icon {
            color: gray;
        }
    }
    #portraityBtn {
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        transition: none;
    }
    html[dir="rtl"] .alert-tappable {
        text-align: right;
    }

    html[dir="rtl"] .alert-md .alert-radio-icon {
        left: 0px;
        right: 13px;
    }





    // -----------------------------------------



    
        #portraityBtn {
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            transition: none;
        }
        #lineSpan {
            font-weight: 900;
        }
        #headerDiv {
            height: 10%;
        }
        #headerbtn {
            ion-icon {
                color: gray;
            }
        }
        #latestDiv {
            padding: 0px;
            margin: 0px;
            width: 100%;
        }
        #productName {
            font-size: 13px;
            font-weight: bold;
        }
        #oldPrice {
            text-decoration: line-through;
            font-size: 10px;
            color: gray;
        }
        #newPrice {
            font-size: 12px;
            color: red;
            font-weight: bold;
        }
        #greenCor {
            width: 90%;
            height:33px;
        }
        ul {
            padding: 0px;
            margin: 0;
            &.rating li {
                padding: 0px 0px !important;
                background: none;
                color: gold;
            }
        }
        .portraitContainer {
            width:100%; height:43%;
        }
        .favouritIcon {
            margin-top:5%;margin-right:5%;float:right;width:13%;height:13%;
        }
        .subContainerDiv{
            width:46%;height:100%;float:left; margin:2% 2% 2% 2%;
        }
        .containerCard {
            height:100%;width:100%
        }
        .textContainer{
            margin-right:4%;text-align:center
        }
        .enImg {
            width: 22%;
            height: 50px;
            float: left;
            margin: 2%
        }
        .arImg {
            width: 22%;
            height: 50px;
            float: right;
            margin: 2%
        }
        .enContainer {
            float: right;
            width: 45%;
            margin: 2%;
            width: 68%
        }
        .arContainer {
            float: left;
            width: 45%;
            margin: 2%;
            width: 68%
        }
        .enPriceDiv {
            float: left;
            width: 44%;
        }
        .enPriceDiv {
            float: right;
            width: 44%;
        }
        .enBtn {
            float: right;
            width: 54%;
            margin-right: 2%;
        }
        .arBtn {
            float: left;
            width: 54%;
            // margin-right: 2%;
        }
        .popover {
            height: auto !important;
        }
        .popover ion-header-bar {
            position: relative;
        }
        .popover ion-content {
            top: 0;
            position: relative;
        }
    
}