<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>المنتجات</ion-title>
        <ion-buttons end mode="md" (click)="search($event)">
            <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <cart-icon no-padding no-margin></cart-icon>
        </ion-buttons>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>
    </ion-navbar>

    <ion-item no-lines>
        <ion-select multiple="false"  
         [(ngModel)]="selectedSubCat"  (ionChange)="selectSubCat()"
          item-start *ngIf="lstSubCategories.length">
          <ion-option [selected]=true  [disabled]=true > Select SubCategory </ion-option>
            <ion-option *ngFor="let subcat of lstSubCategories" [value]="subcat"  >{{subcat.name}}</ion-option>
        </ion-select>



        <ion-buttons item-end id="headerbtn">
            <button ion-button clear id="portraityBtn" style="background-image: url('./assets/icons/sort.svg');" (click)="openSortPopover($event)">
          <!-- <ion-icon name="arrow-round-up"></ion-icon> -->
        </button>
            <span id="lineSpan">|</span>
            <button *ngIf="!isPortrait" ion-button clear (click)=setPortrait(true) id="portraityBtn" style="background-image: url('./assets/icons/grid_selected.svg');">
           <!-- <ion-icon name="tablet-portrait"></ion-icon>  -->
        </button>
            <button *ngIf="isPortrait" ion-button clear id="portraityBtn" style="background-image: url('./assets/icons/grid.svg');">
        </button>
            <button *ngIf="isPortrait" ion-button clear (click)="setPortrait(false)" id="portraityBtn" style="background-image: url('./assets/icons/gridII_selected.svg');"> 
           <!-- <ion-icon name="tablet-landscape"></ion-icon>   -->
        </button>
            <button *ngIf="!isPortrait" ion-button clear id="portraityBtn" style="background-image: url('./assets/icons/gridII.svg');">
        </button>
        </ion-buttons>
    </ion-item>

   

</ion-header>






<ion-content>

    <div [ngSwitch]="isPortrait"   >

        <!-------------- portait Area ---------------->
        <ion-grid no-padding *ngSwitchCase="true">
            <div class="portraitContainer"  *ngIf="lstProducts.length" >
                <div  *ngFor="let item of lstProducts"  class="subContainerDiv">
                    <ion-card   no-padding text-wrap no-margin class="containerCard"  (click)="gotoProductPage(item.id)"  >
                        <div (click)="addToFavourite($event,item)" >
                            <img *ngIf="item.in_wishlist==false" src="././assets/icons/favorite.svg" align="right" class="favouritIcon" />
                            <img *ngIf="item.in_wishlist==true" src="././assets/icons/favorite_sellected.svg" align="right" class="favouritIcon" />
                        </div>


                        <ion-item text-center>
                            <img [src]="item.image" class="cardImg" />
                        </ion-item>
                        <ion-item>
                            <div class="textContainer">
                                <span id="productName" no-wrap>{{item.name}}</span><br/>

                                <span id="oldPrice" *ngIf="item.newp_rice != null">{{item.old_price}}</span><br/>
                                <span id="newPrice" *ngIf="item.newp_rice == null">{{item.old_price}}</span>
                                <span id="newPrice" *ngIf="item.newp_rice != null">{{item.newp_rice}}</span><br/>
                                

                                <rating no-padding [(ngModel)]="item.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
                            </div>
                        </ion-item>
                    </ion-card>
                </div>
            </div>
        </ion-grid>

        <!-------------- landscape Area ---------------->
        <ion-grid no-padding *ngSwitchCase="false">
            <div style="width:100%;padding:1% 2% 1% 2%;"  *ngIf="lstProducts.length">
                <ion-card   *ngFor="let item of lstProducts" no-padding no-margin class="containerCard"   (click)="gotoProductPage(item.id)">
                    <div style="margin-right:2%;">
                        <img *ngIf="item.in_wishlist==false" src="././assets/icons/favorite.svg" (click)="addToFavourite($event,item)" align="right" style="margin-left:93%;margin-top:3%;width:7%;height:7%;" />
                        <img *ngIf="item.in_wishlist==true" src="././assets/icons/favorite_sellected.svg" (click)="addToFavourite($event,item)" align="right" style="margin-left:93%;margin-top:3%;width:7%;height:7%;" />
                    </div>
                    <div>
                        <img [src]="item.image" [ngClass]="{enImg:isEnglish , arImg: !isEnglish}" />
                        <div [ngClass]="{enContainer:isEnglish , arContainer: !isEnglish}">

                            <span id="productName" no-wrap>{{item.name}}</span><br/>

                            <span id="oldPrice" *ngIf="item.newp_rice != null">{{item.old_price}}</span><br/>
                            <span id="newPrice" *ngIf="item.newp_rice == null">{{item.old_price}}</span><br/>
                            <span id="newPrice" *ngIf="item.newp_rice != null">{{item.newp_rice}}</span><br/>
                            

                            <ion-item no-padding no-margin>
                                <div item-start>
                                    <span id="newPrice">{{item.newp_rice}}</span><br/>
                                    <rating no-padding [(ngModel)]="item.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>                                    
                                </div>
                                <div >
                                    <button ion-button color="greenCol"  (click)="addtocart($event,item.id)" id="greenCor">{{"ADDTOCART" | translate}}</button>
                                </div>
                            </ion-item>
                        </div>
                    </div>
                </ion-card>
            </div>
        </ion-grid>
    </div>

    <div padding class="error-message" *ngIf="!lstProducts.length">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <!-- <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon> -->
                    <ion-icon ios="ios-filing-outline" md="md-cart"  style="font-size:3.8em !important;margin-top:100px;" 
                    class="larger-icon" ></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                    عفوا لا توجد منتجات
                </ion-row>
            </ion-col>
        </ion-row>
    </div>

</ion-content>