<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"DESCRIPTION" | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
{{description}}
</ion-content>