<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Review</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

<span  *ngIf="!lstReviews || !lstReviews.length">{{title}}</span>
  
    <ion-card class="cardItem"  *ngFor="let review of lstReviews">
        <ion-item>
            <ion-avatar item-start>
                <img src="http://safe-pay.co/safepay/public/uploadedimg/user/avatar.png">
            </ion-avatar>
            <h2>{{review.user.name}}</h2>
            <p>{{review.date}}</p>
            <rating no-padding [(ngModel)]="review.rating_number" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
            <span id="productDec">{{review.comment}}</span>
        </ion-item>
    </ion-card>

 


    <ion-fab right bottom fixed style="position:fixed;" color="secondary" (click)="addReviewPopover(productId)">
        <button ion-fab color="danger">
                <ion-icon name="add"></ion-icon>
            </button>
    </ion-fab>

</ion-content>