page-review {
    .cardItem {
        padding: 5%;
    }
    #productDec {
        font-size: 16px;
    }
    .popover-ios .popover-content {
        border-radius: 10px;
        /* width: 200px; */
        /* min-width: 0; */
        width: 100%;
        /* min-height: 0; */
        max-height: 100%;
        /* max-height: 90%; */
        position: unset;
        color: #000;
        background: #fff;
    }
    ul {
        padding: 0px;
        margin: 0;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: gold;
        }
    }
}