page-my-orders {
    #headerSegment {
        background-color: #222;
        ion-segment-button {
            color: white;
        }
    }
    span {
        color: gray;
    }
    .orderBtn {
        background-color: #f7f5fa, ;
        border: 1px lightgray solid;
    }
    // ................ zigzag style1
    // #d-wrapper	div > * {
    // 		margin: 0 40px;
    // 	}
    // #d-wrapper	.zig-zag-bottom{
    // 		margin: 32px 0;
    // 		margin-top: 0;
    // 		background: #1ba1e2;
    // 	}
    // #d-wrapper	.zig-zag-bottom{
    // 			  padding: 32px 0;
    // 	}
    // #d-wrapper	.zig-zag-bottom:after{
    // 		background: 
    // 					linear-gradient(-45deg, transparent 16px, #1ba1e2 0), 
    // 					linear-gradient(45deg, transparent 16px, #1ba1e2  0);
    //         background-repeat: repeat-x;
    // 		background-position: left bottom;
    //         background-size: 22px 32px;
    //         content: "";
    //         display: block;
    // 		width: 100%;
    // 		height: 32px;
    //  	    position: relative;
    // 		top:64px;
    // 		left:0px;
    // 	}    
}