<ion-header>

    <!-- <header inputPageName="My Orders"></header> -->

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>{{"MYORDERS" | translate }}</ion-title>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <cart-icon no-padding no-margin></cart-icon>
        </ion-buttons>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>
    </ion-navbar>

    <ion-segment [(ngModel)]="pageType" color="danger" id="headerSegment" mode="md">
        <ion-segment-button value="Pending">
            {{"PENDING" | translate}}
        </ion-segment-button>
        <ion-segment-button value="History">
            {{"HISTORY" | translate}}
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content style="background-color:#F8F8F8;">

    <div [ngSwitch]="pageType">
        <ion-list *ngSwitchCase="'Pending'">
            <ion-card *ngFor="let pending of pendingArr" id="dd">
                <ion-item>
                    <h3 item-start>{{"ORDERNUMBER" | translate}}</h3>
                    <h4 text-center>#1555</h4>
                </ion-item>
                <hr>
                <ion-item>
                    <h3 item-start><span>{{"COST" | translate}}</span><br/>150.000KD</h3>
                    <h4 text-center><span>{{"ORDERQUANTITY" | translate}}</span><br/>2</h4>
                </ion-item>
                <ion-item>
                    <h3 item-start><span>{{"DATES" | translate}}</span><br/>2017-03-12</h3>
                    <h4 text-center><span>{{"STATUS" | translate}}</span><br/>{{"PENDING" | translate}}</h4>
                </ion-item>
                <ion-item>
                    <button class="orderBtn" ion-button item-start>{{"MOREDETAILS" | translate}}</button>
                    <button class="orderBtn" ion-button item-end>{{"CANCELORDER" | translate}}</button>
                </ion-item>
            </ion-card>

        </ion-list>

        <ion-list *ngSwitchCase="'History'">
            <ion-card *ngFor="let history of historyArr">
                <ion-item>
                    <h3 item-start>{{"ORDERNUMBER" | translate}}</h3>
                    <h4 text-center>#1925</h4>
                </ion-item>
                <hr>
                <ion-item>
                    <h3 item-start><span>{{"COST" | translate}}</span><br/>150.000KD</h3>
                    <h4 text-center><span>{{"ORDERQUANTITY" | translate}}</span><br/>2</h4>
                </ion-item>
                <ion-item>
                    <h3 item-start><span>{{"DATES" | translate}}</span><br/>2017-03-12</h3>
                    <h4 text-center><span>{{"STATUS" | translate}}</span><br/>{{"PENDING" | translate}}</h4>
                </ion-item>
            </ion-card>

        </ion-list>


    </div>


</ion-content>