<ion-header>

    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>My Account</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="editAccount()">
            <ion-icon name="md-create"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content no-padding no-margin id="body">

    <ion-card no-padding no-margin id="firstCard" text-center>
        <ion-img [src]="userData.image"></ion-img><br/>
        <button clear id="persondata">{{userData.name}}</button><br/>
        <button clear id="personMail">{{userData.email}}</button>
    </ion-card>

    <ion-card no-padding no-margin style="margin-top:3%;" id="card">
        <ion-list>
            <ion-item>
                <ion-icon name="md-notifications" item-start color="garycol" small>
                </ion-icon>
                {{"NOTIFICATIONS" | translate}}
            </ion-item>
            <ion-item (click)="gotoCart()">
                <ion-icon name="cart" item-start color="garycol" small>
                </ion-icon>
                {{"SHOPPINGCART" | translate}}
            </ion-item>
            <ion-item (click)="gotoWishlist()">
                <ion-icon name="ios-heart" item-start color="garycol" small>
                </ion-icon>
                {{"WISHLIST" | translate}}
            </ion-item>
            <ion-item (click)="gotoMyOrders()">
                <ion-icon name="md-list-box" item-start color="garycol" small>
                </ion-icon>
                {{"MYORDERS" | translate}}
            </ion-item>
        </ion-list>
    </ion-card>
    
    <ion-card no-padding no-margin style="margin-top:3%;" id="card">
        <ion-list>
            <ion-item>
                <ion-icon name="md-star" item-start color="garycol" small>
                </ion-icon>
                {{"REWARDPOINTS" | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="md-pin" item-start color="garycol" small>
                </ion-icon>
                {{"ADDRESSBOOK" | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="ios-backspace" item-start color="garycol" small>
                </ion-icon>
                {{"RETURNS" | translate}}
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card no-padding no-margin style="margin-top:3%;" id="card">
        <ion-list>
            <ion-item>
                <ion-icon name="md-swap" item-start color="garycol" small>
                </ion-icon>
                {{"TRANSACTIONS" | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="logo-usd" item-start color="garycol" small>
                </ion-icon>
                {{"RECURRINGPAYMENTS" | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="md-arrow-round-down" item-start color="garycol" small>
                </ion-icon>
                {{"Downloads" | translate}}
            </ion-item>
        </ion-list>
    </ion-card>

    <button id="logoutBtn"  (click)="logout()"  ion-button>{{"LOGOUT" | translate}}</button>


</ion-content>