page-my-account {
    #body {
        background-color: #F0F0F0;
    }
    #firstCard {
        width: 100%;
        text-align: center;
    }
    #card {
        width: 100%;
        margin-top: 3%;
    }
    ion-img {
        text-align: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-top: 7%;
        // margin-left: 39%;
    }
    ion-img img {
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
    }
    #persondata {
        font-size: 15px;
        font-weight: 450;
        background: transparent !important;
    }
    #personMail {
        font-size: 12px;
        padding-bottom: 7%;
        background: transparent !important;
    }
    hr {
        height: 0.55px;
        background-color: rgba(0, 0, 0, 0.12);
    }
    #logoutBtn {
        background-color: #c1eee1;
        margin: 4% 3% 4% 3%;
        width: 94%;
        color: green;
    }
    // .card .list .item {
    //     border-bottom: 1px lightgray solid;
    // }
}