<ion-content>
    <ion-list no-lines>
        <ion-list-header>Choose Language</ion-list-header>
        <button ion-item (click)="setEnglishLanguage()">English</button>
        <button ion-item (click)="setArabicLanguage()">العربيه</button>
    </ion-list>
</ion-content>