<ion-header>
    <ion-navbar color="dark">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Delivery Details</ion-title>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <cart-icon no-padding no-margin></cart-icon>
        </ion-buttons>
        <ion-buttons end mode="md" style="padding:0;margin:0;">
            <more-icon no-padding no-margin></more-icon>
        </ion-buttons>
    </ion-navbar>
    <!-- <header inputPageName="Delivery Details"></header> -->
</ion-header>


<ion-content>

    <ion-card no-padding no-margin id="firstCard" text-center>
        <ion-item no-lines>
            <span id="titleTop">Shipping Address</span><br/>
            <!-- </ion-item>
        <ion-item no-lines style="margin-top:0"> -->
            <input color="danger" [checked]="true"  type="checkbox" id="marginTopItem" /><span style="margin-left:5%;margin-right:5%;">{{"USEADDRESS" | translate}}</span><br/>
            <p style="margin-left:10%;margin-top:3%;">Kuwait, Al'Asimah,21,block 5</p><br/>
            <button ion-button id="addAddressBtn">{{"ADDADRESS" | translate}}</button>
        </ion-item>
    </ion-card>

    <!-- <ion-card no-padding no-margin class="card" text-center>
        <ion-item no-lines>
            <span id="titleTop">Shipping Address to use on this order</span><br/><br/>
            <span>Flat Rate</span><br/>
            <input color="danger" type="checkbox" id="marginTopItem" /><span style="margin-left:5%;margin-right:5%;">Flat Shipping Rate-1.000KD</span><br/>
        </ion-item>
    </ion-card> -->

    <ion-card no-padding no-margin class="card" text-center>
        <ion-item no-lines>
            <span id="titleTop">{{"PAYMENTMETHOS" | translate }}</span><br/>
            <hr/>
            <input color="danger" type="checkbox" [checked]="true" id="marginTopItem" /><span style="margin-left:5%;margin-right:5%;">Cash On Delivary</span><br/>
            
        </ion-item>
    </ion-card>

</ion-content>

<ion-footer no-padding no-margin>
    <ion-card style="width:100%;" no-padding no-margin>
        <ion-item>
            <div item-left>
                <h2 item-left id="totalPriceLbl">SUBTOTAL: </h2>
                <h2 item-left id="totalPriceLbl">{{"TOTAL" | translate}} </h2>
                <p></p>
            </div>
            <div item-right>
                <h2 id="totalPriceLbl"> {{totalPrice}} KD </h2>
                <h2 id="totalprice"> {{totalPrice}}KD </h2>
                <p id="bottobP" text-center> {{productsCount}} Product</p>
            </div>
        </ion-item>
        <ion-item>
            <button ion-button full id="contBtn" color="greenCol" (click)="gotoPaymentMethodPage()">{{"CONTINUE" | translate}}</button>
        </ion-item>
    </ion-card>
</ion-footer>