page-delivery-datails {
    #firstCard {
        width: 100%;
    }
    #titleTop {
        font-size: 15px;
        font-weight: bold;
    }
    #marginTopItem {
        margin-top: 5%;
    }
    #addAddressBtn {
        margin-top: 3%;
        color: red;
        height: 40px;
        background-color: #FFE4E1;
    }
    .card {
        width: 100%;
        margin-top: 3%;
    }
    #totalPriceLbl {
        font-size: 15px;
        font-weight: bold;
    }
    #totalprice {
        font-size: 15px;
        font-weight: bold;
        color: red;
    }
    #contBtn {
        height: 40px;
    }
}