<ion-content>
    <ion-list radio-group no-lines no-padding no-margin>
        <ion-list-header>
            Sort By
        </ion-list-header>

        <!-- <ion-item (click)="SortNameA()">
            <ion-label>Name (A-Z)</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Name (Z-A)</ion-label>
        </ion-item> -->

        <ion-item (click)="SortPrice('asc')" >
            <ion-label>Price(A-Z)</ion-label>
        </ion-item>

        <ion-item  (click)="SortPrice('desc')" >
            <ion-label>Price(Z-A)</ion-label>
        </ion-item>

        <ion-item (click)="SortRating('asc')">
            <ion-label>Rating(A-Z)</ion-label>
        </ion-item>

        <ion-item  (click)="SortRating('desc')" >
            <ion-label>Rating(Z-A)</ion-label>
        </ion-item>

      
    </ion-list>
</ion-content>