page-sort-popover {
    .my-custom-popover,
    .popover-content {
        top: 12px;
        left: 5%;
        transform-origin: right top 0px;
        transform: scale(1);
        width: 50px;
        background-color: red;
    }
    ion-popover.my-custom-popover {
        width: 50%;
    }
}